<%= turbo_stream.append "chat_list_" + message.conversation_id.to_s do %>
  <% if message.sender_id != nil %>
    <div class="chat_blk" id="<% dom_id(message) %>">
      <div class="ico fill round">
        <img src="<%= message.sender.profile_image.attached? ? message.sender.profile_image.blob.url : asset_path("user.png") %>" alt="">
      </div>
      <% if message.message_images.attached? %>
        <div class="txt w-50 h-50">
          <% if message.message_images.length == 1 %>
            <div>
              <img class="img-thumbnail w-40 h-40 border-0 float-end" src="<%= url_for(message.message_images.first) %>">
            </div>
            <div><%= message.body %></div>
          <% else %>
            <% message.message_images.each do |image| %>
              <div>
                <img class="img-thumbnail w-40 h-40 border-0 float-end mb-1" src="<%= image.url %>">
              </div>
            <% end %>
            <div><%= message.body %></div>
          <% end %>
        </div>
      <% else %>
        <div class="txt"><%= message.body %></div>
      <% end %>
    </div>
  <% else %>
    <div class="chat_blk memee">
      <div class="ico fill round">
        <img src="<%= user.admin_profile_image.attached? ? user.admin_profile_image.blob.url : asset_path("user.png") %>" alt="" style="object-fit: cover; border-radius: 50% ">
      </div>
      <% if message.message_images.attached? %>
        <div class="txt w-50 h-50">
          <% if message.message_images.length == 1 %>
            <div>
              <img class="img-thumbnail w-40 h-40 border-0 float-end" src="<%= url_for(message.message_images.first) %>">
            </div>
            <div style="float: right"><%= message.body %></div>
          <% else %>
            <% message.message_images.each do |image| %>
              <div>
                <img class="img-thumbnail w-40 h-40 border-0 float-end mb-1" src="<%= image.url %>">
              </div>
            <% end %>
            <div style="float: right"><%= message.body %></div>
          <% end %>
        </div>
      <% else %>
        <div class="txt"><%= message.body %></div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if message.sender_id == nil %>
  <%= turbo_stream.replace "body" do %>
    <input type="text" class="input" name="body" id="body" placeholder="Write your message here" required>
  <% end %>
  <%= form_with(url: support_path) do |form| %>
    <%= turbo_stream.replace "file-btn" do %>
      <%= form.file_field :message_images, id: "file-btn", direct_upload: true, multiple: true, hidden: true, accept: 'image/png, image/jpeg, image/jpg' %>
    <% end %>
    <%= turbo_stream.replace "document-btn" do %>
      <%= form.file_field :message_images, id: "document-btn", direct_upload: true, multiple: true, hidden: true, accept: 'image/png, image/jpeg, image/jpg' %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "under_message_" + message.conversation_id.to_s do %>
  <p id="under_message_<%= message.conversation_id %>"><%= message.body %></p>
  <!--                      <div class="num">2</div>-->
<% end %>