<aside id="sidebar">
    <div class="inside">
        <div class="logo_blk">
            <div class="logo">
                <a href="index.php">
                    <img src="<%= asset_path("logo.svg")%>" alt="">
                </a>
            </div>
        </div>
        <div class="list_blk">
            <p class="title">Overview</p>
            <ul>
                <li>
                    <a href="dashboard.php">
                        <img src="<%= asset_path("icon-dashboard.svg")%>" alt=""> Dashboard </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-users.svg")%>" alt=""> Users </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-transactions.svg")%>" alt=""> Transactions </a>
                </li>
            </ul>
        </div>
        <div class="list_blk">
            <p class="title">Tournament</p>
            <ul>
                <li>
                    <a href="?" class="active">
                        <img src="<%= asset_path("icon-tournaments.svg")%>" alt=""> Tournaments </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-win-fb.svg")%>" alt=""> Winners Feedback </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-tbanner.svg")%>" alt=""> Tournament Banner </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-gift-rewards.svg")%>" alt=""> Gift Rewards </a>
                </li>
            </ul>
        </div>
        <div class="list_blk">
            <p class="title">Settings</p>
            <ul>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-notification.svg")%>" alt=""> Push Notification </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-support.svg")%>" alt=""> Support </a>
                </li>
                <li>
                    <a href="?">
                        <img src="<%= asset_path("icon-guidelines.svg")%>" alt=""> Guidelines </a>
                </li>
            </ul>
        </div>
        <div class="btm_blk">
            <div class="img">
                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
            </div>
            <div class="content">
                <div class="txt">
                    <h6>John Smith</h6>
                    <p>Admin</p>
                </div>
                <button type="button" class="btn up_btn">
                    <img src="<%= asset_path("icon-up-down.svg")%>" alt="">
                </button>
            </div>
        </div>
    </div>
</aside>
<!-- sidebar -->