<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="admin_profile" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Admin Profile</h1>
          <div class="img">
            <img src="<%= asset_path("icon-setting.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inner_blk">
        <%= form_with(local: true) do |f| %>
          <div class="top">
            <div class="profile" id="profile">
              <img src="<%= current_admin_user.admin_profile_image.attached? ? current_admin_user.admin_profile_image.blob.url : asset_path("admin-profile.png")%>" alt="" style="object-fit: cover; height: 100%">
            </div>
            <div class="btn_blk">
              <%= f.file_field :admin_profile_image, hidden: true , id: "admin_profile_upload", accept: 'image/png, image/jpeg, image/jpg'%>
              <label for="admin_profile_upload" type="button" class="btn round upload_btn d-flex justify-content-center align-items-center">Upload New</label>
            </div>
          </div>
          <div class="wrapper">
            <div class="row">
              <div class="col-6">
                <h6 class="form_label">Your Full Name</h6>
                <div class="form_blk">
                  <%= f.text_field :full_name, class: "input", value: current_admin_user.full_name %>
                  <% if @updated == false %>
                    <div id="already" style="margin: 5px 0 0 15px; color: red">Full Name already taken</div>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <h6 class="form_label">Email</h6>
                <div class="form_blk">
                  <%= f.email_field :email, disabled: true ,class: "input",value: current_admin_user.email %>
                </div>
              </div>
              <div class="col-6">
                <h6 class="form_label">Username</h6>
                <div class="form_blk">
                  <%= f.text_field :admin_user_name, class: "input", value: current_admin_user.admin_user_name %>
                  <% if @updated == false %>
                    <div id="admin_already" style="margin: 5px 0 0 15px; color: red">Admin User Name already taken</div>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <h6 class="form_label">Old Password</h6>
                <div class="form_blk">
                  <%= f.password_field :old_password, class: "input", placeholder: "Old Password", id: "old_password" %>
                  <% if flash[:old_password].present? %>
                    <div id="old_password_error" style="margin: 5px 0 0 15px; color: red"><%=flash[:old_password]%></div>
                  <% end %>
                </div>
              </div>
              <h5 class="pass_title">Change Password</h5>
              <div class="col-6">
                <h6 class="form_label">New Password</h6>
                <div class="form_blk">
                  <%= f.password_field :password, class: "input", placeholder: "New Password", id: "profile_password" %>
                </div>
              </div>
              <div class="col-6">
                <% f.password_field :old_profile_password, hidden: true, value: AdminUser.first.present? ? AdminUser.first.password : "", id: "old_profile_password" %>
                <h6 class="form_label">Confirm New Password</h6>
                <div class="form_blk">
                  <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirm New Password", id: "confirm_profile_password" %>
                  <% if flash[:password_confirmation].present? %>
                    <div id="password_confirmation_error" style="margin: 5px 0 0 15px; color: red"><%=flash[:password_confirmation]%></div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="btn_blk">
              <%= f.submit "Update Profile",
                           class: "site_btn prime_btn round pop_btn", onclick: "open_dialog()"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="popup" data-popup="profile_update" id="logon_modal">
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <div class="_inner">
                  <button type="button" class="x_btn" onclick="close_dialog()"></button>
                  <div class="success_img">
                    <img src="<%= asset_path("signup-confirm.svg")%>" alt="">
                  </div>
                  <p>Profile successfully updated!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  // function open_dialog(){
  //     var password = $("#profile_password")[0].value
  //     var confirm_password = $("#confirm_profile_password")[0].value
  //     var old_password = $("#old_profile_password")[0].value
  //     var enter_old_password = $("#old_password")[0].value
  //     if(password === confirm_password && old_password === enter_old_password){
  //         document.getElementById("logon_modal").style.display = "block"
  //     }
  // }

  $(window).load(function() {
      var check = <%= @updated.present? ? @updated : false %>
      if(check) {
          document.getElementById("logon_modal").style.display = "block"
      }
  })

  $(document).ready(function(){
      setTimeout(function(){
          $('#already, #admin_already,#old_password_error, #password_confirmation_error').fadeOut();
      }, 5000);
  })

  function close_dialog(){
      document.getElementById("logon_modal").style.display = "none"
  }

  $(function() {
      $('#admin_profile_upload').on('change', function(event) {
          var files = event.target.files;
          var image = files[0]
          console.log(image.size);
          var reader = new FileReader();
          reader.onload = function(file) {
              var img = new Image();
              img.src = file.target.result;
              img.setAttribute("style", "border: 0.1rem; border-radius: 1rem; height: 100%;")
              $('#profile').html(img);
              $("#profile").addClass("opacity-100")
          }
          reader.readAsDataURL(image);
      });
  });
</script>