<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="dashboard" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Hi <%= current_admin_user.admin_user_name.upcase_first if current_admin_user.admin_user_name.present?  %> </h1>
          <div class="img">
            <img src="<%= asset_path("Emoji-hand.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <div class="form_blk input round_input ">
            <button class="btn">
              <img src="<%= asset_path("Search.svg")%>" alt="">
            </button>
            <input class="input" type="text" name="" id="" placeholder="Search">
          </div>
          <div class="side">
            <%=render "dashboard/notification_panel" %>
          </div>
        </div>
      </div>
      <div class="inside">
        <div class="upper_row">
          <div class="row">
            <div class="col-8">
              <div class="left_blk">
                <div class="outter">
                  <h4>Users Activity Report💡</h4>
                  <% activeusers = User.where("status = ?", true) %>
                  <div class="chart_img" style="border-radius: 20px; background-color: #3D3A3A">
                    <%= column_chart activeusers.group_by_hour_of_day(:created_at,format: "%-l %P").count , discrete: true, ytitle: "Users" ,library: { backgroundColor: "transparent" , tooltip: {color: "#3D3A3A"} ,vAxis: { baselineColor: "transparent" ,gridlines: { color: "transparent"}}} ,colors: ["#FFFFFF"] ,width: "610px", height: "310px"%>
                  </div>
                  <div class="item_row row">
                    <div class="col-3 p-0">
                      <div class="dash_item border_right">
                        <div class="top">
                          <div class="icon"><img src="<%= asset_path("user-icon.svg")%>" alt="">
                          </div>
                          <span>Total Users</span>
                        </div>
                        <div class="txt">
                          <span><%= User.all.count %></span>
                          <div class="line_outer">
                            <div class="line bg-1"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% active_users = 0 %>
                    <% inactive_users = 0 %>
                    <% if User.present? %>
                      <% User.all.each do |user| %>
                        <% if user.status == true %>
                          <% active_users+=1 %>
                        <% elsif user.status == false && user.disabled == false %>
                          <% inactive_users+=1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% @percentage %>
                    <% if ((active_users.to_f)/User.all.count.to_f).nan? %>
                      <% @percentage = 0 %>
                    <% else %>
                      <% @percentage = (((active_users.to_f)/User.all.count.to_f) * 100).to_i %>
                    <% end %>
                    <div class="col-3 p-0">
                      <div class="dash_item border_right">
                        <div class="top">
                          <div class="icon"><img src="<%= asset_path("active-user-icon.svg")%>"
                                                 alt="">
                          </div>
                          <span>Active Users</span>
                        </div>
                        <div class="txt">
                          <span><%= active_users %></span>
                          <div class="line_outer">
                            <div class="line bg-2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 p-0">
                      <div class="dash_item border_right">
                        <div class="top">
                          <div class="icon"><img src="<%= asset_path("inactive-icon.svg")%>" alt="">
                          </div>
                          <span>Inactive Users</span>
                        </div>
                        <div class="txt">
                          <span><%= inactive_users %></span>
                          <div class="line_outer">
                            <div class="line bg-3"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 p-0">
                      <div class="dash_item">
                        <div class="top">
                          <div class="icon"><img src="<%= asset_path("activity-icon.svg")%>" alt="">
                          </div>
                          <span>Activity %</span>
                        </div>
                        <div class="txt">
                          <span><%= @percentage %>%</span>
                          <div class="line_outer">
                            <div class="line bg-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="right_blk">
                <div class="btn_blk">
                  <button class="site_btn pop_btn w-100" data-popup="btn_disable" onclick="coin_reward_modal()">
                    Daily Coin Reward For Judging
                  </button>
                </div>
                <div class="outter">
                  <h4>Users Spendings</h4>
                  <div class="chart">
                    <div class="fig" style="margin-left: -200px">
                      <%= pie_chart Transaction.group(:brand).count, donut: true ,library: { backgroundColor: "transparent"}, width: "380px", height: "180px"%>
                    </div>
                    <% amount = [] %>
                    <% Transaction.all.each do |trans| %>
                      <% amount << trans.amount %>
                    <% end %>
                    <span>$<%= amount.sum %></span>
                    <a href="/transactions" class="btn_blk">
                      <button class="site_btn">View All Transactions</button>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom_row">
          <div class="row">
            <div class="col-8">
              <div class="left_blk">
                <div class="outter">
                  <h4 class="mb-4">Posts report</h4>
                  <div class="row">
                    <div class="col-3">
                      <div class="post_blk">
                        <div class="icon">
                          <img src="<%= asset_path("earning-icon.svg")%>" alt="">
                        </div>
                        <h4><%= Post.all.count %></h4>
                        <div class="bottom">
                          <span>Total Posts</span>
                          <div class="ico_blk">
                            <% post_count_month = Post.group_by_month(:created_at,format: "%b %y").count %>
                            <% if post_count_month.to_a.last != nil && post_count_month.to_a[-2] != nil%>
                              <% result = ((post_count_month.to_a.last[1].to_f - post_count_month.to_a[-2][1].to_f)/post_count_month.to_a.last[1].to_f) * 100 %>
                              <% if result > 0 %>
                                <span class="light"><%= result.floor %>%</span>
                                <div class="icon">
                                  <img src="<%= asset_path("up-arrow.svg")%>" alt="">
                                </div>
                              <% else %>
                                <span class=""><%= result.floor.to_s.slice(1, 5) %>%</span>
                                <div class="icon">
<!--                                  <img src="<%#= asset_path("down-arrow.png")%>" alt="">-->
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="graph_pic" style="margin-top: -67px">
                        <%= column_chart Post.group_by_month(:created_at,format: "%b %y").count , discrete: true ,library: { backgroundColor: "transparent", vAxis: { gridlines: { color: "transparent"}}}, colors: ["#FFFF00"] , width: "500px", height: "228px"%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="right_blk">
                <div class="outter">
                  <div class="all_user">
                    <div class="top">
                      <h4 class="">Latest Users</h4>
                      <a href="/user-list">See all</a>
                    </div>

                      <div class="body d-inline-flex">
                        <div class="users_row gap-2 align-items-start">
                          <% @user.each do |user| %>
                          <div class="user d-flex flex-column align-items-center">
                            <div class="ellipse overflow-hidden">
                              <img src="<%= user.profile_image.attached? ? user.profile_image.blob.url : asset_path("user.png")%>" alt="" style="object-fit: cover">
                            </div>
                            <span><%=user.username%></span>
                          </div>
                          <% end %>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup" data-popup="btn_disable" id="coin_reward_modal">
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain">
            <div class="_inner">
              <button type="button" class="x_btn" onclick="close_modal()"></button>
              <h4>Daily Coin Reward For Judging</h4>
              <form action="/set_coins">
                <div class="btn_blk">
                  <input class="site_btn bg_dark round" name="daily_coins_reward" required value = <%= DailyCoin.first.daily_coins_reward if DailyCoin.first.present? %>>
                  </input>
                </div>
                <div class="btn_blk">
                  <button class="site_btn bg_yellow round" type="submit">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    function coin_reward_modal(){
        document.getElementById("coin_reward_modal").style.display = "block";
    }

    function close_modal(){
        document.getElementById("coin_reward_modal").style.display = "none"
    }
</script>