<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="guide" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Guidelines</h1>
          <div class="img">
            <img src="<%= asset_path("icon-guide.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inner_blk">
        <div class="wrapper ex">
          <nav class="nav_list">
            <ul class="list">
              <li><a href="/terms">Terms & Conditions</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li class="active"><a href="/faqs">FAQs</a></li>
              <li><a href="/pop-ups">Pop Ups</a></li>
            </ul>
          </nav>
          <div class="content_blk">
            <div class="btn_blk mb-5">
              <a href="/faqs-edit" class="site_btn prime_btn round">Add More</a>
            </div>
            <ul class="faq_list">
              <li>
                <% @faqs.each do |faq| %>
                  <div class="faq_blk">
                    <div class="top">
                      <h6 class="mb-0"><%= faq.title %></h6>
                      <div class="btn_blk">
                        <%= link_to image_tag("icon-edit.svg"), faq_update_path(faq) %>
                        <%= link_to image_tag("icon-delete.svg"), controller: 'dashboard', action: 'faq_destroy', id: faq.id, method: :delete %>
                      </div>
                    </div>
                    <div class="txt">
                      <%= faq.description.html_safe %>
                    </div>
                  </div>
                <% end %>
              </li>
            </ul>

          </div>
          <div class="history">
            <h5>History</h5>
            <ul class="htry_list">
              <% faqs = Faq.all %>
              <% if faqs.present? %>
                <% faqs.reverse.each do |faq| %>
                  <% if faq.audits.present? %>
                    <% faq.audits.reverse.each do |audit| %>
                      <li>
                        <% if audit.action == 'create' %>
                          <p>Faq - Created!</p>
                          <p class="time"><%= audit.created_at.strftime('%F') %></p>
                        <% else %>
                          <p>Faq - Updated!</p>
                          <p class="time"><%= audit.created_at.strftime('%F') %></p>
                        <% end %>
                        <hr>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>