<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="gift_rewards" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Gift Rewards</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-trans.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                  <%=render "dashboard/notification_panel" %>
                </div>
            </div>
            <div class="inner_blk">
                <ul class="tabs_nav nav" id="gift"> 
                    <li>
                        <a href="#reward" data-bs-toggle="tab" class="nav-link">Rewards</a>
                    </li>
                    <li>
                        <a href="#inventory" data-bs-toggle="tab" class="nav-link">Gift Card Requests</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="reward" class="tab-pane fade">
                      <div class="top_blk">
                        <h6>REMAINING STOCKS</h6>
                        <div class="blks">
                          <div class="position_blk">
                            <p>1st</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "1st Place", 0).count %></h3>
                          </div>
                          <div class="position_blk">
                            <p>2nd</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "2nd Place", 0).count %></h3>
                          </div>
                          <div class="position_blk">
                            <p>3rd</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "3rd Place", 0).count %></h3>
                          </div>
                          <button type="button" class="site_btn prime_btn round pop_btn" data-popup="add_gift" onclick="add_card()">Add
                            Gift Card</button>
                        </div>
                      </div>
                        <div id="table_blk">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 23rem">Card Number</th>
                                        <th style="width: 18rem">Rank</th>
                                        <th style="width: 20rem">Status</th>
                                        <th style="width: 26rem">Remaining</th>
                                        <th>Last Awarded Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @rewards.each do |reward| %>
                                        <tr>
                                            <td>
                                                <%= reward.card_number %>
                                            </td>
                                            <td>
                                                <%= reward.rank.slice(0, 3) %>
                                            </td>
                                            <td>
                                                <span class="status" style="background-color: <%= reward.status == "Awarded" ? "#DB7D19" : ""%>"><%= reward.status %></span>
                                            </td>
                                            <% if reward.status == "Awarded" %>
                                              <td>0</td>
                                              <td><%= reward.updated_at.strftime("%d %b, %Y") %></td>
                                            <% else %>
                                              <td>1</td>
                                              <td>Pending</td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="paginate_sec">
                            <p><%= page_entries_info @rewards , :html => false %></p>
                            <ul class="pagination">
                                <li class="disabled"> <%= will_paginate(@rewards, :class=>"h5 text-white",:outer_window => 0,:inner_window => 1) %></li>
                            </ul>
                        </div>
                    </div>

                    <div id="inventory" class="tab-pane fade">

                        
                       <div id="table_blk">
                       <table id="gift-card-table">
                            <thead>
                                <tr>
                                    <th style="width: 19rem">Amount</th>
                                    <th style="width: 26rem">Email</th>
                                    <th style="width: 12rem">Coins</th>
                                    <th style="width: 12rem">Status</th>
                                    <th style="width: 14rem">Date</th>
                                    <th style="width: 15rem">Send</th>
                                </tr>
                            </thead>
                            <tbody id="gift-card-requests">
                                <!-- Table rows will be dynamically loaded here -->
                            </tbody>
                        </table>
                    </div>


                    </div>




<div class="popup" data-popup="trans_profile" id="tormnt_modal">
    <div class="table_dv">
        <div class="table_cell">
            <div class="contain">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="_inner">
                            <button type="button" class="x_btn" onclick="close_tormnt_modal()"></button>
                            <h3>Send Gift Card</h3>
                            <div class="detail_blk">
                                <div class="left_blk" style="width:100%">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 13rem;">Coins</th>
                                                <th style="width: 22rem;">Email</th>
                                                <th style="width: 22rem;">Status</th>
                                                <th style="width: 22rem;">Amount</th>
                                                <th style="width: 22rem;">Date Joined</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="user_coins"></td>
                                                <td id="user_email"></td>
                                                <td id="user_status"></td>
                                                <td id="user_amount"></td>
                                                <td id="user_joined"></td>
                                                <input type="hidden" id="request_id">
                                            </tr>
                                        </tbody>
                                    </table>
                                    <%= form_for(winner_reward_path, method: "get") do |f|%>
                                        <div class="row ">
                                            <div class="col-6">
                                                <h6 class="form_label">Gift Card #</h6>
                                                <div class="form_blk mb-0">
                                                    <input type="text" id="gift_card_number" class="input" placeholder="Enter Card Number" required>
                                                    <%= f.text_field :rank, id: "user_rank", hidden: true %>
                                                </div>
                                                 <div class="btn_blk mt-5">
                                            <button class="site_btn prime_btn round w-100" onclick="get_user_name()">Send</button>
                                          </div>
                                            </div>
                                         
                                        </div>
                                    <% end %>
                                </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>






























            </div>
            <div class="popup" data-popup="add_gift" id="add_gift">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_card()"></button>
                                        <h4>Add Gift Card</h4>
                                        <%= form_with(model: @gift_reward, local: true, html: {id: 'form'}) do |f| %>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h6 class="form_label">Rank</h6>
                                                    <div class = "form_blk">
                                                        <select class="input" name="rank" id="place" required>
                                                            <li><option value="1st Place">1st Place</option></li>
                                                            <li><option value="2nd Place">2nd Place</option></li>
                                                            <li><option value="3rd Place">3rd Place</option></li>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amazon Gift Card Number</h6>
                                                    <div class="form_blk">
                                                        <%= f.text_field :card_number, class: "input", id: "number", :autocomplete => :off  ,placeholder: "Card Number", required: true %>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-card-1.png")%>" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amount</h6>
                                                    <div class = "form_blk">
                                                        <select class="input" id='cost' name="amount" required>
                                                            <li><option value="$100">$100</option></li>
                                                            <li><option value="$75">$75</option></li>
                                                            <li><option value="$50">$50</option></li>
                                                            <li><option value="$25">$25</option></li>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn_blk">
                                                <%= f.submit "Update", name: 'route_to[Add]' , id: "run", class: "site_btn prime_btn round pop_btn" %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="gift_confirm" id="gift_confirm">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <h3>Confirmation</h3>
                                        <p>Are you sure you want to add this gift card <strong id="confirm_number"></strong> as <strong id="confirm_place"></strong> to your
                                            List?</p>
                                        <div class="btn_blk">
                                            <button type="button" class="site_btn prime_btn round" onclick="save()">Yes</button>
                                            <button type="button" class="site_btn no_btn round", onclick="cancel()">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="popup" data-popup="add_amazon" id="add_amazon">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_amazon_card()"></button>
                                        <h4>Add Amazon Gift Card</h4>
                                        <div class="detail_blk">
                                            <div class="left_blk">
                                                <%= form_with(model: @amazon_card, local: true) do |f| %>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h6 class="form_label">Amount</h6>
                                                            <div class="form_blk">
                                                                <%= f.number_field :amount, id: "form_amount" ,class: "input", placeholder: "$100", data: { numeric: true }, required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Gift Card #</h6>
                                                            <div class="form_blk">
                                                                <%= f.text_field :gift_card_number, id: 'gift' ,class: "input", :autocomplete => :off  ,placeholder: "Add gift card number", required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Coin Price</h6>
                                                            <div class="form_blk">
                                                                <%= f.number_field :coin_price, id: "form_coins" ,class: "input", :autocomplete => :off  ,placeholder: "Add coin price", data: { numeric: true }, required: true %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn_blk">
                                                        <%= f.submit "Save Card",  class: "site_btn prime_btn round", name: 'route_to[Create]'%>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="right_blk">
                                                <p>Add image</p>
                                                <div class="cards_list">
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_1" onchange="checkbox(1)">
                                                        <h5 id="image_amount_1">$10</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_1">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                120000
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_2" onchange="checkbox(2)">
                                                        <h5 id="image_amount_2">$25</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_2">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                300000
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_3" onchange="checkbox(3)">
                                                        <h5 id="image_amount_3">$50</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_3">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                              600000
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function(){

        $.ajax({
                url: '/get_gift_card_request',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Handle successful response
                    renderGiftCardRequests(data);
                },
                error: function(xhr, status, error) {
                    // Handle error
                    console.error('Error fetching gift card requests:', error);
                }
            });

         function renderGiftCardRequests(giftCardRequests) {
            var $giftCardTableBody = $('#gift-card-requests');
            $giftCardTableBody.empty(); 
             giftCardRequests.sort(function(a, b) {
                return new Date(b.created_at) - new Date(a.created_at);
            });


            // Iterate through each gift card request and create table rows
            $.each(giftCardRequests, function(index, request) {
                var statusText = request.status === 0 ? 'Pending' : 'Sent';
                var createdAtDate = new Date(request.created_at);
                var formattedCreatedAt = createdAtDate.getFullYear() + '-' + ('0' + (createdAtDate.getMonth() + 1)).slice(-2) + '-' + ('0' + createdAtDate.getDate()).slice(-2);
                var statusColor = request.status === 0 ? '#ff0000' : '#7fba7a'; // Red for Pending, Green for Sent

                var rowHtml = '<tr>' +
                    '<td style="padding:25px 0" onclick="open_details(\'' + request.user_email + '\', \'' + request.coins + '\', \'' + request.amount + '\', \'' + request.created_at + '\', \'dislikes1\')">£ ' + request.amount + '</td>' +
                    '<td>' + request.user_email + '</td>' +
                    '<td>' + request.coins + '</td>' +
                    '<td class="" ><span style="background-color:' + statusColor + '; min-width: 9.8rem; border-radius:30px;display:inline-block;text-align:center;padding:8px 0;">' + statusText + '</span></td>' +
                    '<td>' + formattedCreatedAt + '</td>' +
                    '<td>' +
                    '<div class="dropdown text-center">' +
                    '<button style="height:42px" class="site_btn prime_btn round " type="button" onclick="open_tormnt_modal(\'' + request.coins + '\', \'' + request.user_email + '\', \'' + statusText + '\',\'' + request.amount + '\', \'' + formattedCreatedAt + '\', \'' + request.id + '\', \'dislikes1\', \'1\'); image(\'' + request.user_email + '\')">Send</button>'
                    '</div>' +
                    '</td>' +
                    '</tr>';

                // Append the row HTML to the table body
                $giftCardTableBody.append(rowHtml);
            });
        }

        $('a[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        // Check if there is a saved active tab in localStorage
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            // Show the saved tab
            $('#gift a[href="' + activeTab + '"]').tab('show');

            // Also make sure the corresponding tab content is shown
            $('.tab-pane').removeClass('active show');
            $(activeTab).addClass('active show');
        } else {
            // If no active tab is saved, show the default tab (e.g. #reward)
            $('#gift a[href="#reward"]').tab('show');
            $('#reward').addClass('active show');
        }
    });

    function open_tormnt_modal(coins, email, status,amount , created , requestId){
        document.getElementById("tormnt_modal").style.display="block"
        document.getElementById("request_id").innerHTML= requestId
        document.getElementById("user_coins").innerHTML= coins
        document.getElementById("user_email").innerHTML= email
        document.getElementById("user_status").innerHTML= status
        document.getElementById("user_amount").innerHTML= `£ ${amount}`
        document.getElementById("user_joined").innerHTML= created
  }

  function get_user_name(){
    var card_number = document.getElementById("gift_card_number").value
    var coins = document.getElementById("user_coins").innerText
    var email = document.getElementById("user_email").innerText
    var requestId = document.getElementById("request_id").innerText
    if(card_number !== "" && coins !== "") {
        $.ajax({
            type: "GET",
            url: "send_gift_card",
            data: {card_number: card_number, coins: coins, email:email, requestId: requestId},
            success: function (res) {
                console.log("Card send success == ", res);
                location.reload();
            }
        })
    }
  }

   function close_tormnt_modal(){
    document.getElementById("tormnt_modal").style.display="none"
  }

      
    function add_card(){
        document.getElementById("add_gift").style.display = "block"
    }

    function close_card(){
        document.getElementById("add_gift").style.display = "none"
        // $('#place').empty()
        $('#place, #number, #cost').val('')
        // $('#place').append('<option value="">' + 'Select User' + '</option>');
    }

    function add_amazon_card(){
        document.getElementById("add_amazon").style.display = "block"
    }

    function close_amazon_card(){
        document.getElementById("add_amazon").style.display = "none"
        $('#form_amount, #form_coins, #gift').val('')
        $('input:checkbox').prop('checked', false);
    }

    $("#form").on('submit', function(event){
        var place = $("#place")[0].value
        $("#confirm_place")[0].innerText = place
        var number = $("#number")[0].value
        $("#confirm_number")[0].innerText = number
        event.preventDefault()
        document.getElementById("gift_confirm").style.display = "block"
    })

    function save(){
        var event = jQuery.Event( "submit" );
        $( "#form" ).first().trigger( event );
        if ( event.isDefaultPrevented() ) {
            event.currentTarget.submit();
            document.getElementById("gift_confirm").style.display = "none"
        }
    }

    function cancel(){
        document.getElementById("gift_confirm").style.display = "none"
    }

    function checkbox(id){
        if(id === 1 && $("#checkbox_1")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_1")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_1")[0].innerText
        }else if(id === 2 && $("#checkbox_2")[0].checked === true){
            $("#checkbox_1, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_2")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_2")[0].innerText
        }else if(id === 3 && $("#checkbox_3")[0].checked === true){
            $("#checkbox_2, #checkbox_1, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_3")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_3")[0].innerText
        }else if(id === 4 && $("#checkbox_4")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_1, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_4")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_4")[0].innerText
        }else if(id === 5 && $("#checkbox_5")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_1").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_5")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_5")[0].innerText
        }
    }
</script>