<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="gift_rewards" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Gift Rewards</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-trans.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                  <%=render "dashboard/notification_panel" %>
                </div>
            </div>
            <div class="inner_blk">
                <ul class="tabs_nav nav" id="gift">
                    <li>
                        <a href="#reward" data-bs-toggle="tab" class="nav-link active">Reward</a>
                    </li>
                    <li>
                        <a href="#inventory" data-bs-toggle="tab" class="nav-link">Inventory</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="reward" class="tab-pane fade active show">
                      <div class="top_blk">
                        <h6>REMAINING STOCKS</h6>
                        <div class="blks">
                          <div class="position_blk">
                            <p>1st</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "1st Place", 0).count %></h3>
                          </div>
                          <div class="position_blk">
                            <p>2nd</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "2nd Place", 0).count %></h3>
                          </div>
                          <div class="position_blk">
                            <p>3rd</p>
                            <h3><%= @rewards.where("rank = (?) AND status = (?)", "3rd Place", 0).count %></h3>
                          </div>
                          <button type="button" class="site_btn prime_btn round pop_btn" data-popup="add_gift" onclick="add_card()">Add
                            Gift Cards</button>
                        </div>
                      </div>
                        <div id="table_blk">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 23rem">Card Number</th>
                                        <th style="width: 18rem">Rank</th>
                                        <th style="width: 20rem">Status</th>
                                        <th style="width: 26rem">Remaining</th>
                                        <th>Last Awarded Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @rewards.each do |reward| %>
                                        <tr>
                                            <td>
                                                <%= reward.card_number %>
                                            </td>
                                            <td>
                                                <%= reward.rank.slice(0, 3) %>
                                            </td>
                                            <td>
                                                <span class="status" style="background-color: <%= reward.status == "Awarded" ? "#DB7D19" : ""%>"><%= reward.status %></span>
                                            </td>
                                            <% if reward.status == "Awarded" %>
                                              <td>0</td>
                                            <% else %>
                                              <td>1</td>
                                            <% end %>
                                            <td>Pending</td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="paginate_sec">
                            <p><%= page_entries_info @rewards , :html => false %></p>
                            <ul class="pagination">
                                <li class="disabled"> <%= will_paginate(@rewards, :class=>"h5 text-white",:outer_window => 0,:inner_window => 1) %></li>
                            </ul>
                        </div>
                    </div>
                    <div id="inventory" class="tab-pane fade">
                        <div class="btn_blk my-4 justify-content-end">
                            <button type="button" class="site_btn prime_btn round pop_btn" data-popup="add_amazon" onclick="add_amazon_card()">Add
                                Amazon Card</button>
                        </div>
                        <div id="table_blk">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 20rem">Image</th>
                                        <th style="width: 19rem">Amount</th>
                                        <th style="width: 21rem">Gift Card Number</th>
                                        <th style="width: 14rem">Coin Price</th>
                                        <th style="width: 18rem">Date Added</th>
                                        <th style="width: 20rem">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% if @amazon_cards.present? %>
                                    <% @amazon_cards.reverse.each do |card| %>
                                        <tr>
                                            <td>
                                                <div class="amazon_card">
                                                    <p>$<%= card.amount %></p>
                                                    <div class="img">
                                                        <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                    </div>
                                                    <div class="btn_blk">
                                                        <button type="button" class="amazon_btn">
                                                            <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                            <%= card.coin_price %>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>$<%= card.amount %></td>
                                            <td><%= card.gift_card_number %></td>
                                            <td><%= card.coin_price %></td>
                                            <td><%= card.created_at.strftime("%B %d, %Y") %></td>
                                            <td>
                                                <div class="btn_blk">
                                                    <button type="button" class="btn action_btn">
                                                        <%= link_to image_tag("icon-edit.svg"), update_card_path(card), amount: card.amount %>
                                                    </button>
                                                    <button type="button" class="btn action_btn">
                                                        <%= link_to image_tag("icon-delete.svg"), controller: 'amazon_card', action: 'card_destroy', id: card.id, method: :delete %>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    <% end %>
                                  <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="paginate_sec">
                            <p><%= page_entries_info @amazon_cards, :html => false %></p>
                            <ul class="pagination">
                                <li class="disabled"> <%= will_paginate(@amazon_cards, :class=>"h5 text-white",:outer_window => 0,:inner_window => 1) %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="add_gift" id="add_gift">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_card()"></button>
                                        <h4>Add Gift Card</h4>
                                        <%= form_with(model: @gift_reward, local: true, html: {id: 'form'}) do |f| %>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h6 class="form_label">Rank</h6>
                                                    <div class = "form_blk">
                                                        <select class="input" name="rank" id="place" required>
                                                            <li><option value="">Select Ranking</option></li>
                                                            <li><option value="1st Place">1st Place</option></li>
                                                            <li><option value="2nd Place">2nd Place</option></li>
                                                            <li><option value="3rd Place">3rd Place</option></li>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amazon Gift Card Number</h6>
                                                    <div class="form_blk">
                                                        <%= f.text_field :card_number, class: "input", id: "number", :autocomplete => :off  ,placeholder: "Card Number", required: true %>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-card-1.png")%>" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amount</h6>
                                                    <div class = "form_blk">
                                                        <select class="input" id='cost' name="amount" required>
                                                            <li><option value="">Select Value</option></li>
                                                            <li><option value="$100">$100</option></li>
                                                            <li><option value="$75">$75</option></li>
                                                            <li><option value="$50">$50</option></li>
                                                            <li><option value="$25">$25</option></li>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn_blk">
                                                <%= f.submit "Update", name: 'route_to[Add]' , id: "run", class: "site_btn prime_btn round pop_btn" %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="gift_confirm" id="gift_confirm">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <h3>Confirmation</h3>
                                        <p>Are you sure you want to add this gift card <strong id="confirm_number"></strong> as <strong id="confirm_place"></strong> to your
                                            List?</p>
                                        <div class="btn_blk">
                                            <button type="button" class="site_btn prime_btn round" onclick="save()">Yes</button>
                                            <button type="button" class="site_btn no_btn round", onclick="cancel()">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="add_amazon" id="add_amazon">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_amazon_card()"></button>
                                        <h4>Add Amazon Gift Card</h4>
                                        <div class="detail_blk">
                                            <div class="left_blk">
                                                <%= form_with(model: @amazon_card, local: true) do |f| %>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h6 class="form_label">Amount</h6>
                                                            <div class="form_blk">
                                                                <%= f.number_field :amount, id: "form_amount" ,class: "input", placeholder: "$100", data: { numeric: true }, required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Gift Card #</h6>
                                                            <div class="form_blk">
                                                                <%= f.text_field :gift_card_number, id: 'gift' ,class: "input", :autocomplete => :off  ,placeholder: "Add gift card number", required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Coin Price</h6>
                                                            <div class="form_blk">
                                                                <%= f.number_field :coin_price, id: "form_coins" ,class: "input", :autocomplete => :off  ,placeholder: "Add coin price", data: { numeric: true }, required: true %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn_blk">
                                                        <%= f.submit "Save Card",  class: "site_btn prime_btn round", name: 'route_to[Create]'%>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="right_blk">
                                                <p>Add image</p>
                                                <div class="cards_list">
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_1" onchange="checkbox(1)">
                                                        <h5 id="image_amount_1">$100</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_1">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                0
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_2" onchange="checkbox(2)">
                                                        <h5 id="image_amount_2">$75</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_2">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                13000
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_3" onchange="checkbox(3)">
                                                        <h5 id="image_amount_3">$50</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_3">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                              12000
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_4" onchange="checkbox(4)">
                                                        <h5 id="image_amount_4">$20</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_4">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                11000
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="amazon_card">
                                                        <input type="checkbox" class="checkbox" id="checkbox_5" onchange="checkbox(5)">
                                                        <h5 id="image_amount_5">$10</h5>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                        </div>
                                                        <div class="btn_blk">
                                                            <button type="button" class="amazon_btn" id="image_coin_5">
                                                                <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                                10000
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function(){
        $('a[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#gift a[href="' + activeTab + '"]').tab('show');
        }
    });
    function add_card(){
        document.getElementById("add_gift").style.display = "block"
    }

    function close_card(){
        document.getElementById("add_gift").style.display = "none"
        // $('#place').empty()
        $('#place, #number, #cost').val('')
        // $('#place').append('<option value="">' + 'Select User' + '</option>');
    }

    function add_amazon_card(){
        document.getElementById("add_amazon").style.display = "block"
    }

    function close_amazon_card(){
        document.getElementById("add_amazon").style.display = "none"
        $('#form_amount, #form_coins, #gift').val('')
        $('input:checkbox').prop('checked', false);
    }

    $("#form").on('submit', function(event){
        var place = $("#place")[0].value
        $("#confirm_place")[0].innerText = place
        var number = $("#number")[0].value
        $("#confirm_number")[0].innerText = number
        event.preventDefault()
        document.getElementById("gift_confirm").style.display = "block"
    })

    function save(){
        var event = jQuery.Event( "submit" );
        $( "#form" ).first().trigger( event );
        if ( event.isDefaultPrevented() ) {
            event.currentTarget.submit();
            document.getElementById("gift_confirm").style.display = "none"
        }
    }

    function cancel(){
        document.getElementById("gift_confirm").style.display = "none"
    }

    function checkbox(id){
        if(id === 1 && $("#checkbox_1")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_1")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_1")[0].innerText
        }else if(id === 2 && $("#checkbox_2")[0].checked === true){
            $("#checkbox_1, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_2")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_2")[0].innerText
        }else if(id === 3 && $("#checkbox_3")[0].checked === true){
            $("#checkbox_2, #checkbox_1, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_3")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_3")[0].innerText
        }else if(id === 4 && $("#checkbox_4")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_1, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_4")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_4")[0].innerText
        }else if(id === 5 && $("#checkbox_5")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_1").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_5")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_5")[0].innerText
        }
    }
</script>