<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="notify" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Push Notifications</h1>
          <div class="img d-flex">
            <img src="<%= asset_path("icon-beep.svg")%>" alt="" class="align-self-center">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="outter">
        <div class="left_blk">
          <%= form_with(model: @notification, local: true, html: {id: 'form'}) do |form| %>
            <div class="top">
              <h6>Choose where to send</h6>
                <input type="date" name="send_date" class="btn caldr_btn"></input>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="check_blk">
                  <input type="checkbox" name="send_all" id="send_all" checked required>
                  <label for="send_all">Send to all users</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form_blk">
                  <input type="text" name="title" id="title" class="input"
                         placeholder="Push Notification Title" required>
                </div>
              </div>
              <div class="col-12">
                <div class="form_blk">
                  <input type="text" name="body" id="link" class="input" placeholder="Link (Optional)">
                </div>
              </div>
              <div class="col-12">
                <div class="form_blk">
                  <textarea class="input" name="body" id="body" rows="10" placeholder="Start typing here....." required></textarea>
                </div>
              </div>
            </div>
            <div class="btn_blk">
              <button type="submit" class="site_btn prime_btn round px pop_btn"
                      data-popup="notify_confirm">Send Now</button>
            </div>
          <% end %>
        </div>
        <div class="right_blk">
          <h5 class="title">History</h5>
          <div class="list_outter">
            <ul class="list">
              <% if Notification.any? %>
                <% Notification.where(send_all: true).reverse.each do |history| %>
                  <li>
                    <div class="item">
                      <p class="date"><%= history.created_at.strftime("%m/%d/%Y") %></p>
                      <p class="txt">Notification was sent</p>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="popup" data-popup="notify_confirm" id="notify_confirm">
      <div class="table_dv">
        <div class="table_cell">
          <div class="contain">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="_inner">
                  <h3>Inform Them</h3>
                  <p>Are you sure you want to push to notification to all the users?</p>
                  <div class="btn_blk">
                    <button type="button" class="site_btn prime_btn round" onclick="save()">Yes</button>
                    <button type="button" class="site_btn no_btn round" onclick="cancel()">No</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    $("#form").on('submit', function(event){
        event.preventDefault()
        document.getElementById("notify_confirm").style.display = "block"
    })

    function save(){
        var event = jQuery.Event( "submit" );
        $( "#form" ).first().trigger( event );
        if ( event.isDefaultPrevented() ) {
            event.currentTarget.submit();
            document.getElementById("notify_confirm").style.display = "none"
        }
        document.getElementById("notify_confirm").style.display = "none"
        $("#title")[0].value = ""
        $("#link")[0].value = ""
        $("#body")[0].value = ""
        $("#send_all").prop("checked", false)
    }

    function cancel(){
        document.getElementById("notify_confirm").style.display = "none"
    }
</script>