<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="guide" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Guidelines</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-guide.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                  <%=render "dashboard/notification_panel" %>
                </div>
            </div>
            <div class="inner_blk">
                <div class="wrapper ex">
                    <nav class="nav_list">
                        <ul class="list">
                            <li><a href="/terms">Terms & Conditions</a></li>
                            <li class="active"><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/pop-ups">Pop Ups</a></li>
                        </ul>
                    </nav>
                    <div class="content_blk">
                        <div class="btn_blk justify-content-end mb-5">
                            <a href="/privacy-edit" class="site_btn prime_btn round">Update</a>
                        </div>
                        <h6>Privacy and Policies</h6>
                        <div class="rules">
                            <%= @privacy.description.html_safe %>
                        </div>
                    </div>
                    <div class="history">
                      <h5>History</h5>
                      <ul class="htry_list">
                        <% privacy = Privacy.first %>
                        <% if privacy.present? && privacy.audits.present? %>
                          <% privacy.audits.reverse.each do |audit| %>
                            <li>
                              <% if audit.action == 'create' %>
                                <p>Privacy &amp; Policy - Created!</p>
                                <p class="time"><%= audit.created_at.strftime('%F') %></p>
                              <% else %>
                                <p>Privacy &amp; Policy - Updated!</p>
                                <p class="time"><%= audit.created_at.strftime('%F') %></p>
                              <% end %>
                              <hr>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>