<main>
  <section id="memee">
    <%= render "dashboard/sidebar" %>
    <div id="support" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Support</h1>
          <div class="img">
            <img src="<%= asset_path("mobile_icon.svg") %>" alt="">
          </div>
        </div>
        <div class="side">
          <%= render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inside">
        <div class="person_side">
          <%= form_for(conversations_path, method: "get", html: { id: 'form' }) do |f| %>
            <div class="dropdown form_blk" id="support_dropDown">
              <button type="button" class="dropdown-toggle site_btn chevron w-100" data-bs-auto-close="outside" data-bs-toggle="dropdown"><%= @header_value.present? ? @header_value : "" %></button>
              <ul class="dropdown-menu w-100">
                <li><button selected type="button" onclick="submission(this.innerText)">Nothing_Happened</button></li>
                <li><button type="button" onclick="submission(this.innerText)">Abuse <span class="dot"></span></button></li>
                <%= f.text_field :subject, hidden: true, id: "subject" %>
                <li><button type="button" onclick="submission(this.innerText)">Payment</button></li>
                <li><button type="button" onclick="submission(this.innerText)">Image <span class="dot"></span></button></li>
                <li><button type="button" onclick="submission(this.innerText)">Profile</button></li>
                <li><button type="button" onclick="submission(this.innerText)">Tournament_Winner <span class="dot"></span></button></li>
                <li><button type="button" onclick="submission(this.innerText)">Coins <span class="dot"></span></button></li>
                <li><button type="button" onclick="submission(this.innerText)">Plagiarism</button></li>
                <li><button type="button" onclick="submission(this.innerText)">Winner_Feedback</button></li>
                <%= f.submit "", hidden: true, id: "form_submit" %>
              </ul>
            </div>
          <% end %>
          </br></br>
          <% conversation_id = "" %>
          <div class="user_list" id="main_user_list">
            <% if @conversation.present? %>
              <% @conversation.each do |conversation| %>
                <% unless conversation.sender.nil? %> 
                  <div class="user_blk" id="clicked" data-conversation-id="<%= conversation.id %>" onclick="open_conversation('<%= conversation.sender&.id %>', '<%= conversation.id %>', '<%= conversation.sender&.username %>', '<%= conversation.sender&.email %>'); get_image('<%= conversation.sender&.email %>'); get_post('<%= conversation.sender&.username %>')">
                    <div class="ico fill round">
                      <img src="<%= conversation.sender&.profile_image&.attached? ? conversation.sender&.profile_image&.blob&.url : asset_path("user.png") %>" alt="">
                    </div>
                    <div class="inr w-100">
                      <div class="title">
                        <h5><%= conversation.sender&.username %></h5>
                        <% if conversation.messages.first.present? %>
                          <% time = Time.now.to_datetime %>
                          <% created = conversation.messages.first.created_at.to_datetime %>
                          <% calculated_time = ((time - created) * 24 * 60).to_i %>
                          <span class="time"><%= distance_of_time_in_words(0, calculated_time.minutes) %></span>
                        <% end %>
                      </div>
                      <div class="txt">
                        <p class="live_message_<%= conversation.id %>"><%= conversation.messages.first.body if conversation.messages.first.present? %></p>
                      </div>
                    </div>
                  </div>
                <%end%>  
              <% end %>
            <% end %>
          </div>
        </div>
        <% if @conversation.present? %>
          <div class="chat_side">
            <div class="top_head_blk">
              <div class="user_blk">
                <div class="ico fill round">
                  <img src="" alt="" id="profile_image" hidden>
                </div>
                <div class="inr">
                  <h5 id="name"></h5>
                  <div id="email"></div>
                </div>
                <div class="r_blk">
                  <div class="status"><input type="radio" name="is_complete" id="is_complete" onchange="completed()">
                    Complete
                  </div>
                  <div class="num_id" id="num_id"></div>
                </div>
              </div>
            </div>
            <%= turbo_stream_from "divs" %>
            <div class="chat_list">
              <div class="chat_blk" id="chat_blk">
              </div>
              <div class="chat_blk memee" id="admin_div">
              </div>
            </div>

            <%= form_with do |form| %>
              <div class="form_inside">
                <%= form.file_field :message_images, id: "document-btn", direct_upload: true, multiple: true, hidden: true, accept: 'image/png, image/jpeg, image/jpg, video/mp4' %>
                <label for="document-btn" class="ico_btn label"><img src="<%= asset_path("icon-clip.svg") %>" alt=""></label>
                <%= form.file_field :message_images, id: "file-btn", direct_upload: true, multiple: true, hidden: true, accept: 'image/png, image/jpeg, image/jpg, video/mp4' %>
                <label for="file-btn" class="ico_btn label" id="label_btn"><img src="<%= asset_path("icon-image.svg") %>" alt=""></label>
                <input type="text" class="input" name="body" id="body" placeholder="Write your message here" required>
                <input name="conversation_id" id="conversation_id" hidden></input>
                <input name="receiver_id" id="receiver_id" hidden></input>
                <input name="user_id" id="user_id" hidden></input>
                <input name="subject" id="subject" hidden></input>
                <input name="admin_user_id" id="admin_id" hidden></input>
                <button type="submit" class="send_btn"><img src="<%= asset_path("icon-send.svg") %>" alt=""></button>
              </div>
            <% end %>

          </div>
        <% else %>
          <h4 class="w-100 d-flex justify-content-center align-items-center">No Support Ticket Found</h4>
        <% end %>
      </div>
    </div>
  </section>
</main>

<script>

/**
 * Open the conversation using coversationId on Notification Click
 * */
  $(document).ready(function() {
    // Add click event to user blocks
    $(".user_list").on('click', '.user_blk', function() {
      $(".user_list .user_blk.active").removeClass("active");
      $(this).addClass("active");
    });

    $(".chat_list").scrollTop($(".chat_list").prop("scrollHeight"));

    $("#clicked").click(function() {
      $(this).addClass("active");
    });

    // Check if conversation ID is present in URL
    const urlParams = new URLSearchParams(window.location.search);
    const conversationId = urlParams.get('conversationId');
    console.log("Conversation Id on supoort page ====", conversationId);
      if (conversationId) {
      // Filter conversation based on conversationId
      const conversation = <%= @conversation.to_json.html_safe %>.find(conv => conv.id == conversationId);
      console.log('Conversation:', conversation);
      
      if (conversationId) {
        const conversation = <%= @conversation.to_json.html_safe %>.find(conv => conv.id == conversationId);
        console.log('Conversation:', conversation); // Log the conversation object
        
        if (conversation) {
          fetch(`api/v1/users/get_sender_details/${conversation?.sender_id}`)
          .then(response => response.json())
          .then(data => {
            const { username, email } = data;
            console.log("response  === ", username , email);
            open_conversation(conversation?.sender_id, conversationId, username, email);
            get_image(email);
            get_post(username);
             // Highlight the opened chat block
             $(`.user_list .user_blk[data-conversation-id="${conversationId}"]`).addClass("active");
      })
      .catch(error => {
        console.error('Error fetching sender details:', error);
      });
        } else {
          console.error('Conversation or sender not found');
        }
      }
    }

  });


    $("#clicked").click()
    $("#clicked").addClass("active")
    $(".user_list").on('click', '.user_blk', function () {
        $(".user_list .user_blk.active").removeClass("active");
        $(this).addClass("active");
    });

    $(window).load(function () {
        $(".chat_list").scrollTop($(".chat_list").prop("scrollHeight"));
    })

    function open_conversation(sender_id, conversation_id, name, email) {
        var live_message_id = ".live_message_" + conversation_id
        $(live_message_id).attr("id", "under_message_" + conversation_id)
        $('#chat_list').data('id', conversation_id);
        $(".chat_side .chat_list").attr("id", "chat_list_" + conversation_id)
        $("#clicked").removeClass("active")
        document.getElementById("conversation_id").value = conversation_id
        document.getElementById("admin_id").value = '<%= current_admin_user.id %>'
        document.getElementById("receiver_id").value = sender_id
        document.getElementById("user_id").value = sender_id
        var admin_id = '<%= current_admin_user.id %>'
        $(".chat_list").empty()
        $.ajax({
            type: "GET",
            url: "conversation",
            data: {conversation_id: conversation_id, email: email, admin_id: admin_id},
            success: function (response) {
                var messages = response.messages
                if (response.conversation.status === "Closed") {
                    document.getElementById("is_complete").checked = true
                } else {
                    document.getElementById("is_complete").checked = false
                }
                document.getElementById("name").innerHTML = name
                document.getElementById("email").innerHTML = email
                var images = response.images
                var i = -1;
                messages.forEach(function (message) {
                    i++;
                    message_design(message, images[i], response.user_image, response.admin_image)
                })
            }
        })
    }

    function get_image(email) {
        $.ajax({
            type: "GET",
            url: "conversation-image",
            data: {email: email},
            success: function (response) {
                document.getElementById("profile_image").removeAttribute("hidden")
                document.getElementById("profile_image").src = response.image
            }
        })
    }

    function get_post(name) {

    }

    function message_design(message, images, user_image, admin_image) {
        var chat_list_id = document.getElementsByClassName("chat_list")[0].id
        var topDiv = document.getElementById(chat_list_id)
        var admindiv = document.getElementById("admin_div")
        document.getElementById("num_id").innerHTML = message.message_ticket
        var message_div = document.createElement("div")
        if (message.sender_id !== null) {
            message_div.setAttribute('class', 'chat_blk')
        }else{
            message_div.setAttribute('class', 'chat_blk memee')
        }
        var div = document.createElement("div")
        div.setAttribute('class', 'ico fill round')
        var img = document.createElement("img");
        if (message.sender_id !== null) {
            img.src = user_image
            div.appendChild(img)
        }else{
            img.setAttribute("style", "border-radius: 50%; object-fit: cover")
            img.src = admin_image
            div.appendChild(img)
        }
        var div1 = document.createElement("div")
        if (images[0] === "") {
            div1.setAttribute('class', 'txt')
            var p = document.createElement("p")
            if (message.sender_id !== null){
                p.setAttribute("class", "bottom")
            }
            div1.appendChild(p.appendChild(document.createTextNode(message.body)))
        }else {
            div1.setAttribute('class', 'txt w-50 h-50')
            if (images.length === 1) {
              
                if (images[0].type === 'video'){
                    var image_div = document.createElement("div")
                    image_div.setAttribute('class', 'w-40 h-40 float-end')
                    var videoSource = document.createElement("source")
                    videoSource.setAttribute("src", `${images[0].url}`)
                    videoSource.setAttribute("type", "video/mp4");
                    var video = document.createElement('video')
                    video.setAttribute("controls", true)
                    video.setAttribute('class', 'w-100 h-100');
                    video.append(videoSource)
                    image_div.append(video);
                }else{
                    var image_div = document.createElement("div")
                    var message_img = document.createElement("img");
                    message_img.setAttribute('class', 'w-40 h-40 float-end')
                    message_img.src = images[0].url
                    image_div.appendChild(message_img)
                }
            }else {
                var image_div = document.createElement("div")
                images.forEach(function (image) {
                  
                    if(image.type === 'video'){
                        image_div.setAttribute('class', 'w-40 h-40 float-end')
                        var videoSource = document.createElement("source")
                        videoSource.setAttribute("src", `${image.url}`)
                        videoSource.setAttribute("type", "video/mp4");
                        var video = document.createElement('video')
                        video.setAttribute("controls", true)
                        video.setAttribute('class', 'w-100 h-100');
                        video.append(videoSource)
                        image_div.append(video);
                    }else{
                        var message_img = document.createElement("img");
                        message_img.setAttribute('class', 'w-40 h-40 float-end mb-1')
                        message_img.src = image.url
                        image_div.appendChild(message_img)
                    }
                })
            }
            div1.appendChild(image_div)
            var p_div = document.createElement("div")
            var p = document.createElement("p")
            if (message.sender_id === null){
                p_div.setAttribute("class", "float-end")
            }
            p_div.appendChild(p.appendChild(document.createTextNode(message.body)))
            div1.appendChild(p_div)
        }
        message_div.appendChild(div)
        message_div.appendChild(div1)
        topDiv.appendChild(message_div)
        $(".chat_list").scrollTop($(".chat_list").prop("scrollHeight"));
    }

    // function message_design(message, images, user_image, admin_image) {
    //     var chat_list_id = document.getElementsByClassName("chat_list")[0].id
    //     var topDiv = document.getElementById(chat_list_id)
    //     var admindiv = document.getElementById("admin_div")
    //     if (message.sender_id !== null) {
    //         document.getElementById("num_id").innerHTML = message.message_ticket
    //         var message_div = document.createElement("div")
    //         message_div.setAttribute('class', 'chat_blk')
    //         var div = document.createElement("div")
    //         div.setAttribute('class', 'ico fill round')
    //         var img = document.createElement("img");
    //         img.src = user_image
    //         div.appendChild(img)
    //         var div1 = document.createElement("div")
    //         if (images[0] === "") {
    //             div1.setAttribute('class', 'txt')
    //             var p = document.createElement("p")
    //             p.setAttribute("class", "bottom")
    //             div1.appendChild(p.appendChild(document.createTextNode(message.body)))
    //         } else {
    //             div1.setAttribute('class', 'txt w-50 h-50')
    //             if (images.length === 1) {
    //                 if (images[0].split('.').pop().toLowerCase() === 'mp4'){
    //                     var image_div = document.createElement("div")
    //                     image_div.setAttribute('class', 'w-40 h-40 float-end')
    //                     var videoSource = document.createElement("source")
    //                     videoSource.setAttribute("src", `${images[0]}`)
    //                     videoSource.setAttribute("type", "video/mp4");
    //                     var video = document.createElement('video')
    //                     video.setAttribute("controls", true)
    //                     video.setAttribute('class', 'w-100 h-100');
    //                     video.append(videoSource)
    //                     image_div.append(video);
    //                 }else{
    //                     var image_div = document.createElement("div")
    //                     var message_img = document.createElement("img");
    //                     message_img.setAttribute('class', 'w-40 h-40 float-end')
    //                     message_img.src = images
    //                     image_div.appendChild(message_img)
    //                 }
    //             } else {
    //                 var image_div = document.createElement("div")
    //                 images.forEach(function (image) {
    //                     if(image.split('.').pop().toLowerCase() === 'mp4'){
    //                         image_div.setAttribute('class', 'w-40 h-40 float-end')
    //                         var videoSource = document.createElement("source")
    //                         videoSource.setAttribute("src", `${image}`)
    //                         videoSource.setAttribute("type", "video/mp4");
    //                         var video = document.createElement('video')
    //                         video.setAttribute("controls", true)
    //                         video.setAttribute('class', 'w-100 h-100');
    //                         video.append(videoSource)
    //                         image_div.appendChild(video);
    //                     }else{
    //                         var message_img = document.createElement("img");
    //                         message_img.setAttribute('class', 'w-40 h-40 float-end mb-1')
    //                         message_img.src = image
    //                         image_div.appendChild(message_img)
    //                     }
    //                 })
    //             }
    //             div1.appendChild(image_div)
    //             var p_div = document.createElement("div")
    //             var p = document.createElement("p")
    //             p_div.appendChild(p.appendChild(document.createTextNode(message.body)))
    //             div1.appendChild(p_div)
    //         }
    //         message_div.appendChild(div)
    //         message_div.appendChild(div1)
    //         topDiv.appendChild(message_div)
    //     } else {
    //         var message_div = document.createElement("div")
    //         message_div.setAttribute('class', 'chat_blk memee')
    //         var div = document.createElement("div")
    //         div.setAttribute('class', 'ico fill round')
    //         var img = document.createElement("img");
    //         img.setAttribute("style", "border-radius: 50%; object-fit: cover")
    //         img.src = admin_image
    //         div.appendChild(img)
    //         var div1 = document.createElement("div")
    //         if (images[0] === "") {
    //             div1.setAttribute('class', 'txt')
    //             var p = document.createElement("p")
    //             div1.appendChild(p.appendChild(document.createTextNode(message.body)))
    //         } else {
    //             div1.setAttribute('class', 'txt w-50 h-50')
    //             if (images.length === 1) {
    //                 if(images[0].split('.').pop().toLowerCase() === 'mp4'){
    //                     var image_div = document.createElement("div")
    //                     image_div.setAttribute('class', 'w-40 h-40 float-end')
    //                     var videoSource = document.createElement("source")
    //                     videoSource.setAttribute("src", `${images[0]}`)
    //                     videoSource.setAttribute("type", "video/mp4");
    //                     var video = document.createElement('video')
    //                     video.setAttribute("controls", true)
    //                     video.setAttribute('class', 'w-100 h-100');
    //                     video.append(videoSource)
    //                     image_div.append(video);
    //                 }else{
    //                     var image_div = document.createElement("div")
    //                     var message_img = document.createElement("img");
    //                     message_img.setAttribute('class', 'w-40 h-40 float-end')
    //                     message_img.src = images
    //                     image_div.appendChild(message_img)
    //                 }
    //             } else {
    //                 var image_div = document.createElement("div")
    //                 images.forEach(function (image) {
    //                     if(image.split('.').pop().toLowerCase() === 'mp4'){
    //                         image_div.setAttribute('class', 'w-40 h-40 float-end')
    //                         var videoSource = document.createElement("source")
    //                         videoSource.setAttribute("src", `${image}`)
    //                         videoSource.setAttribute("type", "video/mp4");
    //                         var video = document.createElement('video')
    //                         video.setAttribute("controls", true)
    //                         video.setAttribute('class', 'w-100 h-100');
    //                         video.append(videoSource)
    //                         image_div.append(video);
    //                     }else{
    //                         var message_img = document.createElement("img");
    //                         message_img.setAttribute('class', 'w-40 h-40 float-end mb-1')
    //                         message_img.src = image
    //                         image_div.appendChild(message_img)
    //                     }
    //                 })
    //             }
    //             div1.appendChild(image_div)
    //             var p_div = document.createElement("div")
    //             var p = document.createElement("p")
    //             p_div.setAttribute("class", "float-end")
    //             p_div.appendChild(p.appendChild(document.createTextNode(message.body)))
    //             div1.appendChild(p_div)
    //         }
    //         message_div.appendChild(div)
    //         message_div.appendChild(div1)
    //         topDiv.appendChild(message_div)
    //     }
    //     $(".chat_list").scrollTop($(".chat_list").prop("scrollHeight"));
    // }

    function completed() {
        var message_ticket = document.getElementById("num_id").innerHTML
        $.ajax({
            type: "GET",
            url: "completed",
            data: {message_ticket: message_ticket},
            success: function (response) {
                document.getElementById("profile_image").removeAttribute("hidden")
                document.getElementById("profile_image").src = response.image
            }
        })
    }

    function submission(subject) {
        $("#subject")[0].value = subject
        $("#form_submit").click()
    }

    $(document).ready(function () {
        $("#support_dropDown .dropdown-toggle").on("click", function () {
            if ($("#overlay").hasClass("show")) {
                $("#overlay").removeClass("show")
                $("#support .bell_btn").removeClass("hide_bell_btn")
            } else {
                $("#overlay").addClass("show")
                $("#support .bell_btn").addClass("hide_bell_btn")
            }
        })
        $("#overlay").on("click", function () {
            $("#overlay").removeClass("show")
            $("#support .bell_btn").removeClass("hide_bell_btn")
        })
    })
</script>