<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="support" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Support</h1>
          <div class="img">
            <img src="<%= asset_path("mobile_icon.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inside">
        <div class="person_side">
          <%= form_tag(conversations_path, method: "get", html: {id: 'form'}) do %>
            <div class="form_blk">
              <select class="input" name="subject" onchange="submit()" style="width: 100%; height: 50px">
                <li><option>Select Subject</option></li>
                <li><option class="dropdown-divider">Nothing_Happened</option></li>
                <li><option>Abuse</option></li>
                <li><option>Payment</option></li>
                <li><option>Image</option></li>
                <li><option>Profile</option></li>
                <li><option>Tournament_Winner</option></li>
                <li><option>Coins</option></li>
                <li><option>Plagiarism</option></li>
                <li><option>Winner_Feedback</option></li>
              </select>
            </div>
          <% end %>
          </br></br>
          <div class="user_list">
            <%= first_conversation = '' %>
            <% if @conversation.present? %>
              <% @conversation.each_with_index  do |conversation,index| %>
                <% first_conversation = conversation if index == 0 %>
                <div class="user_blk" id="clicked" onclick="open_conversation('<%= conversation.sender.id %>', '<%= conversation.id %>', '<%= conversation.sender.username %>', '<%= conversation.sender.email %>'); get_image('<%= conversation.sender.username %>'); get_post('<%= conversation.sender.username %>')">
                  <div class="ico fill round">
                    <img src="<%= conversation.sender.profile_image.attached? ? conversation.sender.profile_image.blob.url : asset_path("user.png")%>" alt="">
                  </div>
                  <div class="inr">
                    <div class="title">
                      <h5><%= conversation.sender.username %></h5>
                      <span class="time"><%= conversation.created_at.strftime("%F") %></span>
                    </div>
                    <div class="txt">
                      <p><%= conversation.messages.first.body if conversation.messages.first.present? %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="chat_side">
          <div class="top_head_blk">
            <div class="user_blk">
              <div class="ico fill round">
                <img src="" alt="" id = "profile_image">
              </div>
              <div class="inr">
                <h5 id="name"></h5>
                <div id="email"></div>
              </div>
              <div class="r_blk">
                <div class="status"><input type="radio" name="is_complete" id="is_complete" onchange="completed()"> Complete</div>
                <div class="num_id" id="num_id"></div>
              </div>
            </div>
          </div>
          <div class="chat_list" id="chat_list">
            <div class="chat_blk" id = "chat_blk">
            </div>
            <div class="chat_blk memee" id="admin_div">
            </div>
          </div>
          <%= form_with do |form|%>
            <div class="form_inside">
              <%= form.file_field :message_images,  id: "document-btn", direct_upload: true, multiple: true, hidden: true, accept: 'image/png, image/jpeg, image/jpg'%>
              <label for="document-btn" class="ico_btn label"><img src="<%= asset_path("icon-clip.svg")%>" alt=""></label>
              <%= form.file_field :message_images,  id: "file-btn", direct_upload: true, multiple: true, hidden: true%>
              <label for="file-btn" class="ico_btn label"><img src="<%= asset_path("icon-image.svg")%>" alt=""></label>
              <input type="text" class="input" name ="body" id="body" placeholder="Write your message here">
              <input name="conversation_id" id="conversation_id" hidden></input>
              <input name="receiver_id" id="receiver_id" hidden></input>
              <input name="user_id" id="user_id" hidden></input>
              <input name="subject" id="subject" hidden></input>
              <input name="admin_user_id" id="admin_id" hidden></input>
              <input name="token" value="123456" hidden></input>
              <button type="submit" class="send_btn"><img src="<%= asset_path("icon-send.svg")%>" alt=""></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    $("#clicked").click()
    $("#clicked").addClass("active")
    $("#chat_list").animate({ scrollTop: 20000000 }, "slow");

    function open_conversation(sender_id, conversation_id, name, email){
        $('#chat_list').data('id', conversation_id);
        $("#clicked").removeClass("active")
        $("#chat_list").animate({ scrollTop: 20000000 }, "slow");
        document.getElementById("conversation_id").value = conversation_id
        document.getElementById("admin_id").value = '<%= current_admin_user.id %>'
        document.getElementById("receiver_id").value = sender_id
        document.getElementById("user_id").value = sender_id
        var admin_id = '<%= current_admin_user.id %>'
        $("#chat_list").empty()
        $.ajax({
            type: "GET",
            url: "conversation",
            data: {conversation_id: conversation_id, name: name, admin_id: admin_id},
            success: function (response) {
                var messages = response.messages
                if(response.conversation.status === "Resolved"){
                    document.getElementById("is_complete").checked = true
                }else{
                    document.getElementById("is_complete").checked = false
                }
                document.getElementById("name").innerHTML = name
                document.getElementById("email").innerHTML = email
                var images = response.images
                var i = -1;
                messages.forEach(function(message){
                    i++;
                    message_design(message ,images[i], response.user_image, response.admin_image)
                })
            }
        })
    }

    function get_image(name){
        $.ajax({
            type: "GET",
            url: "conversation-image",
            data: {name: name},
            success: function (response) {
                document.getElementById("profile_image").src = response.image
            }
        })
    }

    function get_post(name){

    }

    function message_design(message ,images ,user_image, admin_image){
        var topDiv = document.getElementById("chat_list")
        var admindiv = document.getElementById("admin_div")
        if(message.sender_id !== null) {
            document.getElementById("num_id").innerHTML = message.message_ticket
            var message_div = document.createElement("div")
            message_div.setAttribute('class', 'chat_blk')
            var div = document.createElement("div")
            div.setAttribute('class', 'ico fill round')
            var img = document.createElement("img");
            img.src = user_image
            div.appendChild(img)
            var div1 = document.createElement("div")
            if (images === ""){
                div1.setAttribute('class', 'txt')
                var p = document.createElement("p")
                p.setAttribute("class", "bottom")
                div1.appendChild(p.appendChild(document.createTextNode(message.body)))
            }else{
                div1.setAttribute('class', 'txt w-50 h-50')
                var image_div = document.createElement("div")
                var message_img = document.createElement("img");
                message_img.setAttribute('class', 'img-thumbnail w-40 h-40 border-0 float-end')
                message_img.src = images
                image_div.appendChild(message_img)
                div1.appendChild(image_div)
                var p_div = document.createElement("div")
                var p = document.createElement("p")
                p_div.appendChild(p.appendChild(document.createTextNode(message.body)))
                div1.appendChild(p_div)
            }
            message_div.appendChild(div)
            message_div.appendChild(div1)
            topDiv.appendChild(message_div)
        }else{
            var message_div = document.createElement("div")
            message_div.setAttribute('class', 'chat_blk memee')
            var div = document.createElement("div")
            div.setAttribute('class', 'ico fill round')
            var img = document.createElement("img");
            img.src = admin_image
            div.appendChild(img)
            var div1 = document.createElement("div")
            if (images === ""){
                div1.setAttribute('class', 'txt')
                var p = document.createElement("p")
                div1.appendChild(p.appendChild(document.createTextNode(message.body)))
            }else{
                div1.setAttribute('class', 'txt w-50 h-50')
                var image_div = document.createElement("div")
                var message_img = document.createElement("img");
                message_img.setAttribute('class', 'img-thumbnail w-40 h-40 border-0 float-end')
                message_img.src = images
                image_div.appendChild(message_img)
                div1.appendChild(image_div)
                var p_div = document.createElement("div")
                var p = document.createElement("p")
                p_div.setAttribute("class", "float-end")
                p_div.appendChild(p.appendChild(document.createTextNode(message.body)))
                div1.appendChild(p_div)
            }
            message_div.appendChild(div)
            message_div.appendChild(div1)
            topDiv.appendChild(message_div)
        }
    }

    function completed(){
        var message_ticket = document.getElementById("num_id").innerHTML
        $.ajax({
            type: "GET",
            url: "completed",
            data: {message_ticket: message_ticket},
            success: function (response) {
                document.getElementById("profile_image").src = response.image
            }
        })
    }
</script>