<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="support" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Support</h1>
                    <div class="img">
                        <img src="<%= asset_path("mobile_icon.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                    <button type="button" class="btn bell_btn">
                        <img src="<%= asset_path("icon-bell.svg")%>" alt="">
                        <span>2</span>
                    </button>
                </div>
            </div>
            <div class="inside">
                <div class="person_side">
                    <div class="dropdown form_blk">
                        <button type="button" class="dropdown-toggle site_btn chevron w-100" data-bs-toggle="dropdown">Select Subject</button>
                        <ul class="dropdown-menu w-100">
                            <li><button type="button">Abuse <span class="dot"></span></button></li>
                            <li><button type="button">Payment</button></li>
                            <li><button type="button">Image <span class="dot"></span></button></li>
                            <li><button type="button">Profile</button></li>
                            <li><button type="button">Tournament Winner <span class="dot"></span></button></li>
                            <li><button type="button">Coins <span class="dot"></span></button></li>
                            <li><button type="button">Plagiarism</button></li>
                            <li><button type="button">Winner’s Feedback</button></li>
                        </ul>
                    </div>
                    <div class="user_list">
                        <div class="user_blk active">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <div class="title">
                                    <h5>John Kristen</h5>
                                    <span class="time">5 mins ago</span>
                                </div>
                                <div class="txt">
                                    <p>I want my reward via lorem ipsum</p>
                                    <div class="num">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="user_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <div class="title">
                                    <h5>John Kristen</h5>
                                    <span class="time">5 mins ago</span>
                                </div>
                                <div class="txt">
                                    <p>I want my reward via lorem ipsum</p>
                                    <div class="num">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="user_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <div class="title">
                                    <h5>John Kristen</h5>
                                    <span class="time">5 mins ago</span>
                                </div>
                                <div class="txt">
                                    <p>I want my reward via lorem ipsum</p>
                                    <div class="num">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="user_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <div class="title">
                                    <h5>John Kristen</h5>
                                    <span class="time">5 mins ago</span>
                                </div>
                                <div class="txt">
                                    <p>I want my reward via lorem ipsum</p>
                                    <div class="num">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="user_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <div class="title">
                                    <h5>John Kristen</h5>
                                    <span class="time">5 mins ago</span>
                                </div>
                                <div class="txt">
                                    <p>I want my reward via lorem ipsum</p>
                                    <div class="num">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat_side">
                    <div class="top_head_blk">
                        <div class="user_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="inr">
                                <h5>John Kristen</h5>
                                <div class="email">johnkristen@gmail.com</div>
                            </div>
                            <div class="r_blk">
                                <div class="status"><input type="radio" name="" id=""> Complete</div>
                                <div class="num_id">902r55u39573957</div>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>I would to report an abuse</p>
                            </div>
                        </div>
                        <div class="chat_blk memee">
                            <div class="ico fill round">
                                <img src="<%= asset_path("memee_icon.png")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>Hi, John,</p>
                                <p>May I know what is the concern all about?</p>
                            </div>
                        </div>
                        <div class="chat_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>I would to report an abuse</p>
                            </div>
                        </div>
                        <div class="chat_blk memee">
                            <div class="ico fill round">
                                <img src="<%= asset_path("memee_icon.png")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>Hi, John,</p>
                                <p>May I know what is the concern all about?</p>
                            </div>
                        </div>
                        <div class="chat_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>I would to report an abuse</p>
                            </div>
                        </div>
                        <div class="chat_blk memee">
                            <div class="ico fill round">
                                <img src="<%= asset_path("memee_icon.png")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>Hi, John,</p>
                                <p>May I know what is the concern all about?</p>
                            </div>
                        </div>
                        <div class="chat_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>I would to report an abuse</p>
                            </div>
                        </div>
                        <div class="chat_blk memee">
                            <div class="ico fill round">
                                <img src="<%= asset_path("memee_icon.png")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>Hi, John,</p>
                                <p>May I know what is the concern all about?</p>
                            </div>
                        </div>
                        <div class="chat_blk">
                            <div class="ico fill round">
                                <img src="<%= asset_path("john-smith.jpg")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>I would to report an abuse</p>
                            </div>
                        </div>
                        <div class="chat_blk memee">
                            <div class="ico fill round">
                                <img src="<%= asset_path("memee_icon.png")%>" alt="">
                            </div>
                            <div class="txt">
                                <p>Hi, John,</p>
                                <p>May I know what is the concern all about?</p>
                            </div>
                        </div>
                    </div>
                    <form action="" method="POST">
                        <div class="form_inside">
                            <button type="button" class="ico_btn"><img src="<%= asset_path("icon-clip.svg")%>" alt=""></button>
                            <button type="button" class="ico_btn"><img src="<%= asset_path("icon-image.svg")%>" alt=""></button>
                            <input type="text" class="input" placeholder="Write your message here">
                            <button type="submit" class="send_btn"><img src="<%= asset_path("icon-send.svg")%>" alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>