<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="guide" class="main_side">
            <div id="top_header" >
                <div class="left_blk">
                    <h1>Guidelines</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-guide.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                    <button type="button" class="btn bell_btn">
                        <img src="<%= asset_path("icon-bell.svg")%>" alt="">
                        <span>2</span>
                    </button>
                </div>
            </div>
            <div class="inner_blk">
                <div class="wrapper ex">
                    <nav class="nav_list">
                        <ul class="list">
                            <li class="active"><a href="/terms">Terms & Conditions</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/pop-ups">Pop Ups</a></li>
                        </ul>
                    </nav>
                    
                        <div class="content_blk edit">
                            <%= form_with(model: @terms, local: true) do |form| %>
                                <div class="row mb-5">
                                    <div class="col-9">
                                    </div>
                                    <div class="col-3">
                                    <div class="btn_blk edit">
                                        <%= form.submit "Save" ,class: "site_btn prime_btn round" %>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="mb-4">Description</h6>
                                        <div class="form_blk">
                                            <%= form.text_area :description, cols:"30", rows:"20", class: "tinymce", placeholder: "Start typing here...." %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <div class="history">
                        <h5>History</h5>
                        <ul class="htry_list">
                            <li>
                                <p>Term &amp; Conditions - Updated!</p>
                                <p class="time">09/12/2021</p>
                                <hr>
                            </li>
                            <li>
                                <p>Term &amp; Conditions - Updated!</p>
                                <p class="time">09/12/2021</p>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>