<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <title>Tournament Winner — MeMee</title>-->
<!--  <?php require_once 'includes/site-master.php'; ?>-->
<!--</head>-->

<!--<body>-->
<main>

<section id="memee">
  <%=render "dashboard/sidebar" %>
  <?php require_once 'includes/sidebar.php'; ?>
  <div id="tournament_winner" class="main_side">
    <div id="top_header">
      <div class="left_blk">
        <h1>Tournament Winner</h1>
        <div class="img">
          <img src="<%= asset_path("medal.svg")%>" alt="">
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="top_blk">
        <div class="btn_blk">
          <a href="?" class="site_btn prime_btn round">Reward Payout</a>
        </div>
      </div>
      <div id="table_blk">
        <table>
          <thead>
          <tr>
            <th style="width: 12rem">Rank</th>
            <th style="width: 19rem">Name</th>
            <th style="width: 26rem">Email</th>
            <th style="width: 12rem">Up Vote</th>
            <th style="width: 14rem">Date Joined</th>
            <th style="width: 15rem">Reward</th>
          </tr>
          </thead>
          <tbody>
            <% banner = session[:banner] %>
            <% users = TournamentBanner.find(banner["id"]).tournament_users.joins(user: {posts: :likes}).group("posts.id", "tournament_users.id").order("COUNT(likes.id) DESC").limit(10) %>
            <% i = 0 %>
            <% if users.present? %>
              <% users.each do |tournament_user| %>
                <tr>
                  <td>
                    <% if i == 0 %>
                      <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                        <%= "#{i + 1}" + "st" %>
                        <% i += 1 %>
                      </div>
                    <% elsif i == 1 %>
                      <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                        <%= "#{i + 1}" + "nd" %>
                        <% i += 1 %>
                      </div>
                    <% elsif i == 2 %>
                      <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                        <%= "#{i + 1}" + "rd" %>
                        <% i += 1 %>
                      </div>
                    <% else %>
                      <div class="rank" style="background-image: url(<%= asset_path("winner_badge_gray.svg")%>);">
                        <%= "#{i + 1}" + "th" %>
                        <% i += 1 %>
                      </div>
                    <% end %>
                  </td>
                  <td onclick="open_details('<%=tournament_user.user.username%>', '<%=tournament_user.user.email%>', '<%=tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.count%>',
                    '<%= tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].created_at.strftime('%F') %>', '<%=tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.where(status: "dislike").count%>')"><%= tournament_user.user.username %></td>
                  <td><%= tournament_user.user.email %></td>
                  <td><%= tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.count if tournament_user.user.posts.where(tournament_banner_id: banner["id"]).present? %></td>
                  <td><%= tournament_user.created_at.strftime("%F") %></td>
                  <td>
                    <div class="dropdown">
                      <button class="dropdown-toggle chevron" data-bs-toggle="dropdown">
                        Gift Card
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <button type="button" onclick="disable_user('<%= tournament_user.user.id %>')">Disable Account</button>
                        </li>
                        <li>
                          <button type="button" onclick="open_tormnt_modal('<%=tournament_user.user.username%>', '<%=tournament_user.user.email%>', '<%=tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.count%>',
                            '<%= tournament_user.user.created_at.strftime('%F') %>', '<%=tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.where(status: "dislike").count%>') ; image('<%=tournament_user.user.username%>')">Reward
                          </button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="popup w-75" style="margin-left: 281px; margin-top: 50px" data-popup="trans_profile" id="tour_winner">
      <div class="inner">
          <div class="inside">
              <div class="winner_blk">
                  <div class="user_blk">
                      <a href="#" class="icon" onclick="close_details()">
                        <img src="<%= asset_path("left-arrow.svg")%>" alt="">
                      </a>
                      <div class="user">
                          <div class="img">
                              <img src="" alt="" id="user_image">
                          </div>
                          <div class="content">
                              <h6 id="name"></h6>
                              <p id="email"></p>
                          </div>
                      </div>
                  </div>
                  <div class="name_blk">
                      <h4 id="post_by"></h4>
                  </div>
                  <div class="post_blk" id="post_image">
                      <div class="detail">
                          <span>Date Posted</span>
                          <p id="created"></p>
                          <div class="bottom">
                              <div class="like">
                                  <div class="icon">
                                      <img src="<%= asset_path("heart-icon.svg")%>" alt="">
                                  </div>
                                  <span id="likes"></span>
                              </div>
                              <div class="unlike">
                                  <div class="icon">
                                      <img src="<%= asset_path("cross-icon.svg")%>" alt="">
                                  </div>
                                  <span id= "dislike"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="popup" data-popup="trans_profile" id="tormnt_modal">
    <div class="table_dv">
        <div class="table_cell">
            <div class="contain">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="_inner">
                            <button type="button" class="x_btn" onclick="close_tormnt_modal()"></button>
                            <h3>Reward</h3>
                            <div class="detail_blk">
                                <div class="left_blk">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 13rem;">Name</th>
                                                <th style="width: 22rem;">Email</th>
                                                <th>Date Joined</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="tournament_user_name"></td>
                                                <td id="tournament_user_email"></td>
                                                <td id="tournament_user_joined"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <%= form_tag(winner_reward_path, method: "get") do %>
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 class="form_label">Gift Card #</h6>
                                                <div class="form_blk">
                                                    <input type="text" id="gift_card_number" class="input" placeholder="Enter Card Number">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h6 class="form_label">Coin</h6>
                                                <div class="form_blk">
                                                    <input type="text" id="coins" class="input" placeholder="Enter Coins">
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                    </br></br>
                                    <div class="btn_blk">
                                      <button class="site_btn prime_btn round w-100" onclick= "get_user_name()">Send</button>
                                    </div>
                                </div>
                                <div class="right_blk">
                                    <div class="img">
                                        <img src="" alt="" id="image">
                                    </div>
                                    <div class="vote_blk">
                                        <span class="vote" id="user_likes">
                                            <img src="<%= asset_path("icon-vote-up.svg")%>" alt="">
                                        </span>
                                        <span class="vote vote_down" id="user_dislikes">
                                            <img src="<%= asset_path("icon-vote-down.svg")%>" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
</main>

<script src="assets/js/main.js"></script>
</body>

</html>

<script>
  function open_details(name, email, likes, created, dislike){
    document.getElementById("tour_winner").style.display="block"
    document.getElementById("name").innerHTML= name
    document.getElementById("email").innerHTML= email
    document.getElementById("created").innerHTML= created
    document.getElementById("likes").innerHTML= likes
    document.getElementById("dislike").innerHTML= dislike
    document.getElementById("post_by").innerHTML= "Memes Posts by " + name;
    $.ajax({
      type: "GET",
      url: "tournament-winner-list",
      data: {username: name},
      success: function(response){
        document.getElementById("user_image").src = response.user_image
        var c = response.post_image
        document.getElementById("post_image").style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(c)"
        
      }
    })
  }

  function close_details(){
    document.getElementById("tour_winner").style.display="none"
  }

  function open_tormnt_modal(name, email, likes, created, dislike){
    document.getElementById("tormnt_modal").style.display="block"
    document.getElementById("tournament_user_name").innerHTML= name
    document.getElementById("tournament_user_email").innerHTML= email
    document.getElementById("tournament_user_joined").innerHTML= created
    document.getElementById("user_likes").innerHTML= likes
    document.getElementById("user_dislikes").innerHTML= dislike
  }

  function image(name){
    var banner_id = '<%= session[:banner]["id"] %>'
    $.ajax({
      type: "GET",
      url: "post-images",
      data: {banner_id: banner_id, name: name},
      success: function(response) {
        document.getElementById("image").src = response.image
      }
    })
  }

  function get_user_name(){
    var name = document.getElementById("tournament_user_name").innerHTML
    var card_number = document.getElementById("gift_card_number").value
    var coins = document.getElementById("coins").value
    $.ajax({
      type: "GET",
      url: "winner-reward",
      data: {name: name, card_number: card_number, coins: coins},
      success: function() {
        document.getElementById("tormnt_modal").style.display="none"
      }
    })
  }

  function close_tormnt_modal(){
    document.getElementById("tormnt_modal").style.display="none"
  }

  function disable_user(id){
      $.ajax({
          type: "GET",
          url: "user_disable",
          data: {id: id},
          success: function(response){
          }
      })
  }
</script>