<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="tormnt" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Tournament</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-header.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                    <a href="/tournament-banner"><button type="button" class="site_btn prime_btn round px">Add Banners</button></a>
                    <button type="button" class="btn bell_btn">
                        <img src="<%= asset_path("icon-bell.svg")%>" alt="">
                        <span>2</span>
                    </button>
                </div>
            </div>
            <div class="inner_blk">
                <div class="top">
                    <div class="season_detail">
                        <h4 class="mb-0">Tournament Season</h4>
                        <div class="dropdown btn btn-secondary ms-3 rounded-pill">
                          <%= select_tag  :tournament_title, options_for_select(TournamentBanner.all.reverse.pluck(:title, :id)), class: "btn btn-secondary" ,onclick: 'select($(this).val())' %>
                        </div>
                        <p class="ms-3"> Participants: <span id = "joined"></span></p>
                    </div>
                    <h4 class="fw_400 mb-0">
                        <a href="/tournament-winner-list" id = "banner_id">Tournament Winners</a>
                    </h4>
                </div>
                <div id="table_blk">
                    <table id="tournament_table">
                        <thead>
                            <tr>
                                <th style="width: 6rem">Rank</th>
                                <th style="width: 15rem">Name</th>
                                <th style="width: 22rem">Email</th>
                                <th style="width: 10.6rem">Up Vote</th>
                                <th style="width: 13rem">Down Vote</th>
                                <th style="width: 13rem">Date Joined</th>
                                <th style="width: 12rem">Participated</th>
                                <th style="width: 10rem">Image</th>
                                <th style="width: 8rem">Status</th>
                                <th style="width: 2rem"></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        <% @posts.each_with_index do |post,index| %>
                            <tr>
                                <td>
                                    <div class="win"><%=index+=1%></div>
                                </td>
                                <td><%=post.user.username %></td>
                                <td><%=post.user.email %></td>
                                <td><%=post.likes.where(is_judged: true).like.count %></td>
                                <td><%=post.likes.where(is_judged: true).dislike.count%></td>
                                <td><%=post.created_at.strftime('%b,%d,%y') %></td>
                                <td>23</td>
                                <td>
                                    <div class="img">
                                      <img src="<%= post.post_image.attached? ? post.post_image.blob.url : asset_path("tr-1.jpg")%>" alt="">
                                    </div>
                                </td>
                                <td>Ongoing</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn drop_btn" data-bs-toggle="dropdown">
                                            <img src="<%= asset_path("icon-vdots.svg")%>" alt="">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><button type="button">Disable Account</button></li>
                                            <li>
                                                <button type="button" class="pop_btn"
                                                    data-popup="trans_profile">Reward</button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                          <%end %>
                        </tbody>
                    </table>
                </div>
                <div class="paginate_sec">
                    <% if @posts.present? %>
                        <p><%= page_entries_info @posts %></p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="popup" data-popup="trans_profile" id="tormnt_modal">
            <div class="table_dv">
                <div class="table_cell">
                    <div class="contain">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="_inner">
                                    <button type="button" class="x_btn"></button>
                                    <h3>Reward</h3>
                                    <div class="detail_blk">
                                        <div class="left_blk">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th style="width: 13rem;">Name</th>
                                                        <th style="width: 22rem;">Email</th>
                                                        <th>Date Joined</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Mr Astronut</td>
                                                        <td>iammemer@memee.com</td>
                                                        <td>Jan 1, 2022</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="form_label">Gift Card #</h6>
                                                        <div class="form_blk">
                                                            <input type="text" class="input" placeholder="000000">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6 class="form_label">Coin</h6>
                                                        <div class="form_blk">
                                                            <input type="text" class="input" value="2334">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn_blk">
                                                    <button type="button"
                                                        class="site_btn prime_btn round w-100">Send</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="right_blk">
                                            <div class="img">
                                                <img src="<%= asset_path("tormnt-modal.jpg")%>" alt="">
                                            </div>
                                            <div class="vote_blk">
                                                <span class="vote">
                                                    <img src="<%= asset_path("icon-vote-up.svg")%>" alt="">
                                                    324
                                                </span>
                                                <span class="vote vote_down">
                                                    <img src="<%= asset_path("icon-vote-down.svg")%>" alt="">
                                                    12
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $('#tournament_id').click(function (){
        var radioValue = $("input[name='tournament_id']").val();
        $('#tournament_id').data('attribute',radioValue);
        $.ajax({
            type: "Get",
            url: "/tournament",
            data: { tournament_banner_id: radioValue},
            success: (response) => {
            }
        });
    });

    function open_trmnt_model(){
        document.getElementById("tormnt_modal").style.display="block"
    }

    function select(val){
        $.ajax({
            type: "Get",
            url: "tournament",
            data: { tournament_banner_id: val},
            success: function(response) {
                var table = $("#table_blk tbody");
                document.getElementById("joined").innerHTML = 0 + " Joined"
                table[0].innerHTML = ""  
                var username = response.name
                var email = response.email
                var likes = response.likes
                var dislikes = response.dislikes
                var created = response.created
                var participated = response.participated
                var status = response.status
                var image = response.image
                table[0].innerHTML = ""
                var i = 0;
                username.forEach(function(name){
                    table.append("<tr><td></td><td>"+name+"</td><td>"+email[i]+"</td><td>"+likes[i]+"</td><td>"+dislikes[i]+"</td><td>"+created[i]+"</td><td>"+participated[i]+"</td><td></td><td>"+status+"</td><td></td></tr>");
                    add_ranks(i)
                    add_image(image[i], i)
                    i++;
                })
                document.getElementById("joined").innerHTML = (i) + " Joined"
            }
        });
    }

    function add_image(image, i){
        var col = document.getElementById("tournament_table").rows[i+1].cells[7];
        var img = document.createElement('img');
        img.src = image;
        col.appendChild(img);
    }

    function add_ranks(i){
        var col = document.getElementById("tournament_table").rows[i+1].cells[0];
        var span = document.createElement('span');
        span.innerHTML = i + 1
        if(i < 4){
            span.classList.add("win");
        } else if(i < 10){
            span.classList.add("win", "win_5")
        } else{
            span.classList.add("win", "win_10")
        }
        col.appendChild(span)
    }
</script>