<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="tour_banner" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Tournament Banner</h1>
          <div class="img">
            <img src="<%= asset_path("icon-header.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inside">
        <div class="header">
          <h4>Banner Lists</h4>
          <% if flash[:alert].present? %>
            <div id="banner_error" style="margin: 5px 0 0 15px; color: red"><%= flash[:alert] %></div>
          <% end %>
          <div class="btn_blk">
            <button class="site_btn pop_btn" data-popup="add_banner" onclick = "open_banner()" >Add Banner</button>
          </div>
        </div>
        <div class="row">
          <% @tournament_banner.each do |tournament_banner| %>
            <div class="col-3">
              <div class="item">
                <div class="body">
                  <div style="width: 25px; height: 25px; filter: brightness(0) saturate(100%) invert(14%) sepia(50%) saturate(7458%) hue-rotate(356deg) brightness(111%) contrast(118%)">
                    <%= link_to image_tag("icon-delete.svg"), controller: 'dashboard', action: 'tournament_banner_destroy', id: tournament_banner.id, method: :delete %>
                  </div>
                  <div class="fig">
                    <img src="<%= tournament_banner.tournament_banner_photo.attached? ? tournament_banner.tournament_banner_photo.blob.url : asset_path("item-pic.svg")%>" alt="">
                  </div>
                  <div class="content">
                    <span class="f-26"><%=tournament_banner.title.present? ? tournament_banner.title: "No title"%></span>
                    <span class="f-30 banner_date d-block"><%=tournament_banner.start_date.present? ? tournament_banner.start_date.strftime("%b"): "No start date added"%></span>
                  </div>
                </div>
                <div class="bottom banner_date">
                  <p><%=tournament_banner.start_date.present? ? tournament_banner.start_date.strftime("%B %Y"): "No date added" %></p>
                </div>
              </div>
            </div>
          <%end %>
        </div>
      </div>
      <div class="popup" data-popup="add_banner" id="add_banner">
        <div class="table_dv">
          <div class="table_cell">
            <div class="contain">
              <div class="_inner">
                <button type="button" class="x_btn" onclick= "close_banner()"></button>
                <h4>Add Banner</h4>
                <%= form_with(model: @banner, local: true) do |form| %>
                  <div class="row">
                    <div class="col-6">
                      <div class="left_blk">
                        <h6>Banner Title</h6>
                        <div class="form_blk">
                          <%= form.text_field :title, class: "input", placeholder: "Enter title", required: true %>
                        </div>
                        <h6>Date Start</h6>
                        <div class="form_blk">
                          <%= form.date_field :start_date, class: "input banner_date", required: true %>
                        </div>
                        <h6>Date End</h6>
                        <div class="form_blk">
                          <%= form.date_field :end_date, class: "input banner_date", required: true%>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="right_blk">
                        <%= form.file_field :tournament_banner_photo, hidden: true, id: "image_upload"%>
                        <h6>Add image</h6>
                        <label class="img_blk" for="image_upload" id="preview">
                          <div class="icon">
                            <img src="<%= asset_path("img-icon.svg") %>" alt="">
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="btn_blk">
                      <%= form.submit "Save Banner", class: "site_btn" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    function open_banner(){
        document.getElementById("add_banner").style.display = "block"
    }

    function close_banner(){
        document.getElementById("add_banner").style.display = "none"
    }

    $(function() {
        $('#image_upload').on('change', function(event) {
            var files = event.target.files;
            var image = files[0]
            console.log(image.size);
            var reader = new FileReader();
            reader.onload = function(file) {
                var img = new Image();
                img.src = file.target.result;
                img.setAttribute("style", "border: 0.1rem; border-radius: 1rem; height: 100%;")
                $('#preview').html(img);
                $("#preview").addClass("opacity-100")
            }
            reader.readAsDataURL(image);
        });
    });

    $(document).ready(function(){
        setTimeout(function(){
            $('#banner_error').fadeOut();
        }, 5000);
    })

</script>