<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <title>Tournament Winner — MeMee</title>-->
<!--  <?php require_once 'includes/site-master.php'; ?>-->
<!--</head>-->

<!--<body>-->
<main>

<section id="memee">
  <%=render "dashboard/sidebar" %>
  <?php require_once 'includes/sidebar.php'; ?>
  <div id="tournament_winner" class="main_side">
    <div id="top_header">
      <div class="left_blk">
        <h1>Tournament Winner</h1>
        <div class="img">
          <img src="<%= asset_path("medal.svg")%>" alt="">
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="top_blk">
        <div class="btn_blk">
          <a href="?" class="site_btn prime_btn round">Reward Payout</a>
        </div>
      </div>
      <div id="table_blk">
        <table>
          <thead>
          <tr>
            <th style="width: 12rem">Rank</th>
            <th style="width: 19rem">Name</th>
            <th style="width: 26rem">Email</th>
            <th style="width: 12rem">Up Vote</th>
            <th style="width: 14rem">Date Joined</th>
            <th style="width: 15rem">Reward</th>
          </tr>
          </thead>
          <tbody>
            <% banner = session[:banner] %>
            <% users = TournamentBanner.find(banner["id"]).tournament_users.joins(user: {posts: :likes}).group("posts.id", "tournament_users.id").order("COUNT(likes.id) DESC").limit(10) %>
            <% i = 0 %>
            <% users.each do |tournament_user| %>
              <tr>
                <td>
                  <% if i == 0 %>
                    <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                      <%= "#{i + 1}"+"st" %>
                      <% i += 1 %>
                    </div>
                  <% elsif i == 1 %>
                    <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                      <%= "#{i + 1}"+"nd" %>
                      <% i += 1 %>
                    </div>
                  <% elsif i == 2 %>
                    <div class="rank" style="background-image: url(<%= asset_path("winner_badge_color.svg")%>);">
                      <%= "#{i + 1}"+"rd" %>
                      <% i += 1 %>
                    </div>
                  <% else %>
                    <div class="rank" style="background-image: url(<%= asset_path("winner_badge_gray.svg")%>);">
                      <%= "#{i + 1}"+"th" %>
                      <% i += 1 %>
                    </div>
                  <% end %>
                </td>
                <td onclick="open_details()" id="test"><%= tournament_user.user.username %></td>
                <td><%= tournament_user.user.email %></td>
                <td><%= tournament_user.user.posts.where(tournament_banner_id: banner["id"])[0].likes.count if tournament_user.user.posts.where(tournament_banner_id: banner["id"]).present? %></td>
                <td><%= tournament_user.created_at.strftime("%F") %></td>
                <td>
                  <div class="dropdown">
                    <button class="dropdown-toggle chevron" data-bs-toggle="dropdown">
                      Gift Card
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><button type="button">Disable Account</button></li>
                      <li><button type="button">Reward</button></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="tour_winner" class="main_side popup">
      <div id="top_header">
          <div class="left_blk">
              <h1>Tournament Winner</h1>
              <div class="img">
                  <img src="<%= asset_path("icon-header.svg")%>" alt="">
              </div>
          </div>
      </div>
      <div class="inner">

          <div class="inside">
              <div class="winner_blk">
                  <div class="user_blk">
                      <a href="#" class="icon">
                          <img src="<%= asset_path("left-arrow.svg")%>" alt="">
                      </a>
                      <div class="user">
                          <div class="img">
                              <img src="<%= asset_path("user.svg")%>" alt="">
                          </div>
                          <div class="content">
                              <h6><%= session[:user_id] %></h6>
                              <p></p>
                          </div>
                      </div>
                  </div>
                  <div class="name_blk">
                      <h4>Memes Posts by Mr Astronut</h4>
                  </div>
                  <div class="post_blk" style="background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path("bg-img.jpg")%>')">
                      <div class="detail">
                          <span>Date Posted</span>
                          <p>January 05, 2022</p>
                          <div class="bottom">
                              <div class="like">
                                  <div class="icon">
                                      <img src="<%= asset_path("heart-icon.svg")%>" alt="">
                                  </div>
                                  <span>324</span>
                              </div>
                              <div class="unlike">
                                  <div class="icon">
                                      <img src="<%= asset_path("cross-icon.svg")%>" alt="">
                                  </div>
                                  <span>12</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
</main>

<script src="assets/js/main.js"></script>
</body>

</html>

<script>
  function open_details(){
    document.getElementById("tour_winner").style.display="block"
  }
</script>