<main>
  <section id="memee">
    <%=render "dashboard/sidebar" %>
    <div id="trans" class="main_side">
      <div id="top_header">
        <div class="left_blk">
          <h1>Transactions</h1>
          <div class="img">
            <img src="<%= asset_path("icon-trans.svg")%>" alt="">
          </div>
        </div>
        <div class="side">
          <%=render "dashboard/notification_panel" %>
        </div>
      </div>
      <div class="inner_blk">
        <% start_date = "" %>
        <% end_date = "" %>
        <div class="top gap-3">
          <%= form_tag(transactions_path, method: "get") do %>
            <div class="d-flex gap-3">
              <div class="trans_blk">
                <span>From: </span>
                <input type="date" name="start_date" onchange="submit()" value=<%= params[:start_date] if present? %>></input>
                <% start_date = params[:start_date] if params[:start_date].present? %>
              </div>
              <div class="trans_blk">
                <span>To: </span>
                <input type="date" name="end_date" onchange="submit()" value=<%= params[:end_date] if present? %>></input>
                <% end_date = params[:end_date] if params[:end_date].present? %>
              </div>
            </div>
            <%= submit_tag "", hidden: true ,:name => nil %>
          <% end %>
          <% search_value = "" %>
          <%= form_tag(transactions_path, method: "get") do %>
            <div class="form_blk input mb-0">
              <img src= "<%= asset_path("icon-search.svg")%>">
              <%= text_field_tag :search, params[:search], class: "input" , :autocomplete => :off  ,placeholder: "Search", value: params[:search] if present? %>
              <% search_value = params[:search] %>
              <%= submit_tag "" , type: :image ,:name => nil %>
            </div>
          <% end %>
          <a href= "/transaction-export.csv?search=<%= search_value %>&start_date=<%= start_date %>&end_date=<%= end_date %>" class="ms-auto d-block"><button type="button" class="site_btn round csv_btn">
            <img src="<%= asset_path("icon-csv.svg")%>" alt="">
            Export CSV
          </button></a>
        </div>
        <div id="table_blk" class="trans_table">
          <table>
            <thead>
            <tr>
              <th style="width: 30rem">User</th>
              <th style="width: 10rem">Cost</th>
              <th style="width: 25rem">Payment Method</th>
              <th style="width: 12.5rem">Date Processed</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @transactions_list.each do |transaction_details| %>
              <tr>
                <td>
                  <div class="user_detail">
                    <div class="img pop_btn" data-popup="trans_profile"  onclick="open_transaction_details('<%= transaction_details.user.username %>', '<%= transaction_details.user.email %>', '<%= transaction_details.user_id %>')">
                      <img src="<%= transaction_details.user.profile_image.attached? ? transaction_details.user.profile_image.blob.url : asset_path("user.png")%>" alt="">
                    </div>
                    <div class="txt">
                      <h6><%= transaction_details.user.username %></h6>
                      <p><%= transaction_details.user.email %></p>
                    </div>
                  </div>
                </td>
                <td>$<%= transaction_details.amount %></td>
                <td><%= transaction_details.brand %></td>
                <td><%= transaction_details.created_at.strftime("%d %b, %Y") %></td>
                <td></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="paginate_sec">
          <p><%= page_entries_info @transactions_list, :html => false %></p>
          <ul class="pagination">
            <li class="disabled"> <%= will_paginate(@transactions_list, :outer_window =>0,:inner_window =>1) %></li>
          </ul>
        </div>
      </div>
      <div class="popup" data-popup="trans_profile" id="trans_modal">
        <div class="table_dv">
          <div class="table_cell">
            <div class="contain">
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="_inner">
                    <button type="button" class="x_btn" onclick= "close_transaction_details()"></button>
                    <div class="top_blk">
                      <h4>Profile Transactions</h4>
                      <div>
                        <img src="" alt="" id="image" style="width: 100px;height: 100px;-webkit-border-radius: 100px;-webkit-background-clip: padding-box;-moz-border-radius: 100px;-moz-background-clip: padding;border-radius: 100px;background-clip: padding-box;margin: 7px 0 0 5px;float: left;">
                      </div>
                      <h5 id= "trans_name_user"></h5>
                      <p id= "trans_email_user"></p>
                    </div>
                    <div class="outter">
                      <h5>Transactions</h5>
                      <div class="table_blk" id="table">
                        <table>
                          <thead>
                          <tr>
                            <th style="width: 13rem">Date</th>
                            <th style="width: 10rem">Time</th>
                            <th style="width: 25rem"></th>
                            <th style="width: 20rem;">Transaction</th>
                            <th>Amount</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td id= "date"></td>
                            <td id= "time"></td>
                            <td></td>
                            <td id="brand"></td>
                            <td id="amount"></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    function open_transaction_details(name, email, user_id) {
        document.getElementById("trans_modal").style.display = "block";
        document.getElementById("trans_name_user").innerHTML = name;
        document.getElementById("trans_email_user").innerHTML = email;
        $.ajax({
            type: "GET",
            url: "specific_user_transactions",
            data: {user_id: user_id},
            success: function(response){
                var table = $("#table tbody");
                table[0].innerHTML = ""
                response.transaction.reverse().forEach(function(data){
                    var date = data.created_at.split('-').reverse().join('/').slice(0, 2) + data.created_at.split('-').reverse().join('/').slice(16)
                    var format = ""
                    if(data.created_at.slice(11, 16).split(':').join('.') > 12){
                        format = " PM"
                    }else{
                        format = " AM"
                    }
                    table.append("<tr><td>"+date+"</td><td>"+data.created_at.slice(11, 16) + format +"</td><td></td><td>"+data.brand+"</td><td>"+"$"+ data.amount+"</td></tr>");
                })
                document.getElementById("image").src = response.image
            },
        });
    }

    function close_transaction_details(){
        document.getElementById("trans_modal").style.display = "none";
    }
</script>