<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="gift_rewards" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>Gift Rewards</h1>
                    <div class="img">
                        <img src="<%= asset_path("icon-trans.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                  <%=render "dashboard/notification_panel" %>
                </div>
            </div>
            <div class="inner_blk">
                <ul class="tabs_nav nav">
                    <li>
                        <a href="#reward" data-bs-toggle="tab" class="active">Reward</a>
                    </li>
                    <li>
                        <a href="#inventory" data-bs-toggle="tab">Inventory</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="reward" class="tab-pane fade show active">
                    </div>
                    <div id="inventory" class="tab-pane fade">
                        <div class="btn_blk my-4 justify-content-end">
                            <button type="button" class="site_btn prime_btn round pop_btn" data-popup="add_amazon" onclick="add_amazon_card()">Add
                                Amazon Card</button>
                        </div>
                        <div id="table_blk">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 20rem">Image</th>
                                        <th style="width: 19rem">Amount</th>
                                        <th style="width: 21rem">Gift Card Number</th>
                                        <th style="width: 14rem">Coin Price</th>
                                        <th style="width: 18rem">Date Added</th>
                                        <th style="width: 20rem">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="paginate_sec">
                            <p>Showing 1 to 1 of 1 entries</p>
                            <ul class="pagination">
                                <li class="me-4">
                                    <a href="#" aria-label="Previous">
                                        <img src="<%= asset_path("left_small_arrow.svg")%>" aria-hidden="true" alt="icon">
                                        Previous
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="ms-4">
                                    <a href="#" aria-label="Previous">
                                        Next
                                        <img src="<%= asset_path("right_small_arrow.svg")%>" aria-hidden="true" alt="icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="add_gift" id="add_gift">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_card()"></button>
                                        <h4>Add Gift Card</h4>
                                        <%= form_with(model: @gift_reward, local: true) do |f| %>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h6 class="form_label">Rank</h6>
                                                    <div class="dropdown">
                                                        <%= f.select :rank, options_for_select([["Select Ranking", ""], "1st Place", "2nd Place", "3rd Place"]), class: "btn btn-primary dropdown-toggle", style: "min-width: 100;" %>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amazon Gift Card Number</h6>
                                                    <div class="form_blk">
                                                        <%= f.text_field :card_number, class: "input", placeholder: "Card Number" %>
                                                        <div class="img">
                                                            <img src="<%= asset_path("amazon-card-1.png")%>" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="form_label">Amount</h6>
                                                    <div class="dropdown">
                                                        <button class="btn drop_btn w-100" data-bs-toggle="dropdown">
                                                            Select Value
                                                            <img src="<%= asset_path("icon-polygon.svg")%>" alt="">
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><button type="button">$100</button></li>
                                                            <li><button type="button">$75</button></li>
                                                            <li><button type="button">$50</button></li>
                                                            <li><button type="button">$25</button></li>
                                                        </ul>
                                                    </div>
                                                    <%= f.select :amount, options_for_select([["Select Value", ""], "$100", "$75", "$50", "$25"]), class: "btn drop_btn w-100" %>
                                                </div>
                                            </div>
                                            <div class="btn_blk">
                                                <%= f.submit "Update", class: "site_btn prime_btn round pop_btn", confirm: "Are you sure you want to add this gift card" %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="gift_confirm" id="gift_confirm">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <h3>Confirmation</h3>
                                        <p>Are you sure you want to add this gift card <strong>2334-LJIJA-90</strong> as 1st
                                            Place to your
                                            List?</p>
                                        <div class="btn_blk">
                                            <button type="button" class="site_btn prime_btn round">Yes</button>
                                            <button type="button" class="site_btn no_btn round">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup" data-popup="add_amazon" id="add_amazon">
                <div class="table_dv">
                    <div class="table_cell">
                        <div class="contain">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="_inner">
                                        <button type="button" class="x_btn" onclick="close_amazon_card()"></button>
                                        <h4>Add Amazon Gift Card</h4>
                                        <div class="detail_blk">
                                            <div class="left_blk">
                                                <%= form_with(model: @amazon_card, url: gift_rewards_path(@amazon_card), method: :patch, local: true) do |f| %>
                                                    <div class="row">
                                                        <% card = AmazonCard.find(params[:id]) %>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Amount</h6>
                                                            <div class="form_blk">
                                                                <%= f.text_field :amount, class: "input", id: "form_amount", value: card.amount, data: { numeric: true }, required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Gift Card #</h6>
                                                            <div class="form_blk">
                                                                <%= f.text_field :gift_card_number, class: "input", value: card.gift_card_number, required: true %>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="form_label">Coin Price</h6>
                                                            <div class="form_blk">
                                                                <%= f.text_field :coin_price, class: "input", id: "form_coins" ,value: card.coin_price, data: { numeric: true }, required: true %>
                                                                <%= f.hidden_field :id, value: params[:id] %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn_blk">
                                                        <%= f.submit "Update Card",  class: "site_btn prime_btn round" %>
                                                    </div>
                                                <% end %>
                                            </div>
                                          <div class="right_blk">
                                            <p>Add image</p>
                                            <div class="cards_list">
                                              <div class="amazon_card">
                                                <input type="checkbox" class="checkbox" id="checkbox_1" onchange="checkbox(1)">
                                                <h5 id="image_amount_1">$100</h5>
                                                <div class="img">
                                                  <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                </div>
                                                <div class="btn_blk">
                                                  <button type="button" class="amazon_btn" id="image_coin_1">
                                                    <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                    0
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="amazon_card">
                                                <input type="checkbox" class="checkbox" id="checkbox_2" onchange="checkbox(2)">
                                                <h5 id="image_amount_2">$75</h5>
                                                <div class="img">
                                                  <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                </div>
                                                <div class="btn_blk">
                                                  <button type="button" class="amazon_btn" id="image_coin_2">
                                                    <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                    13000
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="amazon_card">
                                                <input type="checkbox" class="checkbox" id="checkbox_3" onchange="checkbox(3)">
                                                <h5 id="image_amount_3">$50</h5>
                                                <div class="img">
                                                  <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                </div>
                                                <div class="btn_blk">
                                                  <button type="button" class="amazon_btn" id="image_coin_3">
                                                    <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                    12000
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="amazon_card">
                                                <input type="checkbox" class="checkbox" id="checkbox_4" onchange="checkbox(4)">
                                                <h5 id="image_amount_4">$20</h5>
                                                <div class="img">
                                                  <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                </div>
                                                <div class="btn_blk">
                                                  <button type="button" class="amazon_btn" id="image_coin_4">
                                                    <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                    11000
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="amazon_card">
                                                <input type="checkbox" class="checkbox" id="checkbox_5" onchange="checkbox(5)">
                                                <h5 id="image_amount_5">$10</h5>
                                                <div class="img">
                                                  <img src="<%= asset_path("amazon-logo.svg")%>" alt="">
                                                </div>
                                                <div class="btn_blk">
                                                  <button type="button" class="amazon_btn" id="image_coin_5">
                                                    <img src="<%= asset_path("icon-coin.svg")%>" alt="">
                                                    10000
                                                  </button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function(){
        document.getElementById("add_amazon").style.display = "block"
    })

    function close_amazon_card(){
        window.location = "<%= card_inventory_path %>"
    }

    function checkbox(id){
        if(id === 1 && $("#checkbox_1")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_1")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_1")[0].innerText
        }else if(id === 2 && $("#checkbox_2")[0].checked === true){
            $("#checkbox_1, #checkbox_3, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_2")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_2")[0].innerText
        }else if(id === 3 && $("#checkbox_3")[0].checked === true){
            $("#checkbox_2, #checkbox_1, #checkbox_4, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_3")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_3")[0].innerText
        }else if(id === 4 && $("#checkbox_4")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_1, #checkbox_5").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_4")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_4")[0].innerText
        }else if(id === 5 && $("#checkbox_5")[0].checked === true){
            $("#checkbox_2, #checkbox_3, #checkbox_4, #checkbox_1").prop("checked", false)
            $("#form_amount")[0].value = $("#image_amount_5")[0].innerHTML.slice(1, 4)
            $("#form_coins")[0].value = $("#image_coin_5")[0].innerText
        }
    }
</script>