<main>
    <section id="memee">
        <%=render "dashboard/sidebar" %>
        <div id="user_list" class="main_side">
            <div id="top_header">
                <div class="left_blk">
                    <h1>All Users</h1>
                    <div class="img">
                        <img src="<%= asset_path("Emoji-user.svg")%>" alt="">
                    </div>
                </div>
                <div class="side">
                    <button type="button" class="btn bell_btn">
                        <img src="<%= asset_path("icon-bell.svg")%>" alt="">
                        <span>2</span>
                    </button>
                </div>
            </div>
            <div class="inside">
                <div class="top">
                    <%= form_tag(user_list_path, method: "get") do %>
                        <div class="form_blk input round_input ">
                            <img src= "<%= asset_path("icon-search.svg")%>">
                            <%= text_field_tag :search, params[:search], class: "input" ,placeholder: "search", value: "" %>
                            <%= submit_tag "" , type: :image ,:name => nil %>
                        </div>
                    <% end %>
                    <div class="btn_blk">
                        <a href="/user-export.csv"><button class="site_btn round ">
                            <div class="icon">
                                <img src="<%= asset_path("export.svg")%>" alt="">
                            </div>
                            Export CSV
                        </button></a>
                    </div>
                </div>
                <div id="table_users">
                    <div class="table__blk">
                        <table>
                            <thead>
                                    <tr>
                                        <th style="width: 15.6rem;"><input type="radio"></th>
                                        <th style="width: 20rem;">Name/Email</th>
                                        <th style="width: 14.7rem;">Status</th>
                                        <th style="width: 20rem;">Date Joined</th>
                                        <th style="width: 10rem;">Action</th>
                                    </tr>
                            </thead>
                            <tbody>
                                <% @users.each do |user_details| %>
                                    <script>
                                        $(document).on("click", "#user_id_<%= user_details.id %>", function() {
                                            let user_id = $(this).attr("data-user"); 
                                            $.ajax({
                                                    type: "GET",
                                                    url: "/follower_count",
                                                    data: {user_id: user_id},
                                                    success: function(response){
                                                        document.getElementById("followers").innerHTML = response.followers
                                                        document.getElementById("following").innerHTML = response.following
                                                        document.getElementById("posts").innerHTML = response.posts
                                                    }
                                                })
                                        })
                                    </script>
                                    <tr>
                                        <td>
                                            <div class="user">
                                                <input type="radio">
                                                <button class="pop_btn btn" id="user_id_<%= user_details.id %>" data-user="<%= user_details.id %>" data-popup="user_profile" onclick="open_profile('<%= user_details.email %>', <%= session[:id] = user_details.id %>)">
                                                    <div class="ellipse">
                                                        <img src="<%= user_details.profile_image.attached? ? user_details.profile_image.blob.url : asset_path("user.png")%>" alt="">
                                                    </div>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="name">
                                                <p class="f-16"><%=user_details.username%></p>
                                                <p class="f-13" id= "user_mail"><%=user_details.email%></p>
                                            </div>
                                        </td>   
                                        <td>
                                            <div class="status">
                                                <div></div>
                                                <span class="active">Active</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="date">
                                                <span><%=user_details.created_at.strftime("%F")%></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="action">
                                                <button class="show btn pop_btn" data-popup="btn_post">
                                                    <div class="ico">
                                                        <img src="<%= asset_path("Show.svg")%>" alt="">
                                                    </div>
                                                </button>
                                                <button class="hide btn pop_btn" data-popup="btn_disable">
                                                    <div class="ico">
                                                        <img src="<%= asset_path("Hide.svg")%>" alt="">
                                                    </div>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="paginate_sec">
                    <p><%= page_entries_info @users %></p>
                    <ul class="pagination">
                        <li class="disabled"> <%= will_paginate(@users,:previous_label => "&laquo;", :next_label => "&raquo;", :class=>"h5 text-white",:outer_window => 1,:inner_window => 0) %></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="popup " data-popup="btn_post" id="post_modal">
            <div class="table_dv">
                <div class="table_cell">
                    <div class="contain">
                        <div class="_inner">
                            <button type="button" class="x_btn"></button>
                            <div class="post_blk" style="background-image: url('<%= asset_path("bg-img.jpg")%>')">
                            </div>
                            <div class="bottom">
                                <div class="like">
                                    <div class="icon">
                                        <img src="<%= asset_path("tick-icon.svg")%>" alt="">
                                    </div>
                                    <span>324</span>
                                </div>
                                <div class="unlike">
                                    <div class="icon">
                                        <img src="<%= asset_path("cross-icon.svg")%>" alt="">
                                    </div>
                                    <span>12</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup" data-popup="btn_disable" id="disable_modal">
            <div class="table_dv">
                <div class="table_cell">
                    <div class="contain">
                        <div class="_inner">
                            <h2>Disable</h2>
                            <p>Are you sure you want to disable this user?</p>
                            <div class="btn_blk">
                                <button class="site_btn bg_yellow round">
                                    Yes
                                </button>
                            </div>
                            <div class="btn_blk">
                                <button class="site_btn bg_dark round">
                                    No
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup" data-popup="user_profile" id="user_modal">
            <div class="table_dv">
                <div class="table_cell">
                    <div class="contain">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="_inner">
                                    <button type="button" class="x_btn" onclick= "close_profile()"></button>
                                    <div class="top_blk">
                                        <h4>User Profile</h4>
                                        <div class="profile">
                                            <img src="" alt="" id="image">
                                        </div>
                                        <h5 id="profile_username"></h5>
                                    
                                        <p id="profile_email"></p>
                                    </div>
                                    <div class="outter">
                                        <h5>Personal Information</h5>
                                        <div class="detail">
                                            <div class="row">
                                                <div class="col-1">
                                                    <div class="left_blk">
                                                        <p class="mb-4">Phone</p>
                                                        <p>Bio</p>
                                                    </div>
                                                </div>
                                                <div class="col-11">
                                                    <p class="mb-4" id= "profile_phone"></p>
                                                    <p id= "profile_bio"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>App Stats</h5>
                                        <div class="detail">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="left_blk">
                                                        <p class="mb-4">Post</p>
                                                        <p class="mb-4">Followers</p>
                                                        <p class="mb-4">Following</p>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <p class="mb-4" id="posts"></p>
                                                    <p class="mb-4" id= "followers"></p>
                                                    <p class="mb-4" id= "following"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="outter h_20">
                                                <h5>Badges Earned</h5>
                                                <div class="badge_blk">
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                    <div class="item">
                                                        <div class="fig_outter">
                                                            <div class="fig">
                                                                <img src="<%= asset_path("1st-prize-icon.svg")%>" alt="">
                                                            </div>
                                                        </div>
                                                        <span>Most Wins</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="outter ">
                                                <h5>Tournament Entry</h5>
                                                <div class="detail">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="left_blk">
                                                                <p class="mb-4">1. Season 1: </p>
                                                                <p class="mb-4">2. Season 2: </p>
                                                                <p class="mb-4">3. Season 3: </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-9">
                                                            <a href="#" class="mb-4">https://bit.ly/3VTSVlZ</a>
                                                            <a href="#" class="mb-4">https://bit.ly/3VTSVlZ</a>
                                                            <a href="#" class="mb-4">https://bit.ly/3VTSVlZ</a>

                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    function open_profile(user_email, id) {
        document.getElementById("user_modal").style.display = "block";
        $.ajax({
            type: "GET",
            url: "show_user_profile",
            data: { id: id},
            dataType: "json",
            success: function(data){
                data.user.forEach(function(user){
                    if(user.email === user_email){
                        document.getElementById("profile_username").innerHTML = user.username;
                        document.getElementById("profile_email").innerHTML = user.email;
                        document.getElementById("profile_phone").innerHTML = user.phone;
                        document.getElementById("profile_bio").innerHTML = user.bio;
                        document.getElementById("image").src = data.image
                    }
                })
            },
        });
    }

    

    function close_profile(){
        document.getElementById("user_modal").style.display = "none";
    }
</script>
