<main>
  <section id="logon" style="background-image: url(<%= asset_path("logon-bg.jpg")%>);">
    <div class="contain">
      <div class="log_blk">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="logo">
            <img src="<%= asset_path("logo.svg") %>" alt="">
          </div>
          <div class="txt">
            <h1 class="fw_700">Sign in to manage</h1>
            <p>Enter your details below</p>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form_blk">
                <%#= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "Email", type: "text", id: "", class: "input", placeholder: "Email" %>
                <%if params[:admin_user].present?%>
                  <% if params[:admin_user][:email].blank? %>
                    <p id="email_blank" style="margin: 5px 0 0 15px; color: red">Email can't be blank</p>
                  <% elsif params[:admin_user][:email] != (AdminUser.first.present? ? AdminUser.first.email : "") %>
                    <p id="email_invalid" style="margin: 5px 0 0 15px; color: red">Invalid email</p>
                  <%end%>
                <%end%>
              </div>
            </div>
            <div class="col-12">
              <div class="form_blk">
                <!--                <%#= f.label :password %><br/>-->
                <%= f.password_field :password, autocomplete: "current-password", type: "password", id: "", class: "input", placeholder: "Password" %>
                <%if params[:admin_user].present?%>
                  <%if params[:admin_user][:password].blank? %>
                    <p id="password_blank" style="margin: 5px 0 0 15px; color: red">Password can't be blank</p>
                  <% elsif params[:admin_user][:password] != (AdminUser.first.present? ? AdminUser.first.password : "") %>
                    <p id="password_invalid" style="margin: 5px 0 0 15px; color: red">Invalid password</p>
                  <%end%>
                <%end%>
              </div>
            </div>
            <div class="col-12">
              <div class="form_blk forget_blk">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
                <% end %>
              </div>
            </div>
          </div>
          <div class="btn_blk">
            <button class= "site_btn prime_btn w-100" ><%= f.submit "Sign in" ,type: "button", class: "site_btn prime_btn w-30"%></button>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>

<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#email_blank, #email_invalid, #password_blank, #password_invalid').fadeOut();
        }, 3000);
    })
</script>

<%#= render "devise/shared/links" %>